@{
    ViewBag.Title = "Cập nhật kho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 col-xs-12">
        <fieldset class="card-block">
            <form id="_form" method="post" role="form">
                <div class="text-center">
                    <h3><i class="fa fa-home" aria-hidden="true"></i> Cập nhật kho</h3>
                    <hr class="mt-2 mb-2">
                </div>
                <p id="error" class="text-danger text-center"></p>
                <div class="md-form form-sm">
                    <i class="fa fa-id-card-o prefix"></i>
                    <input id="tenkho" class="form-control" type="text" />
                    <label for="tenkho">Tên kho</label>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="md-form form-sm">
                                <i class="fa fa-filter prefix"></i>
                                <input id="thetich" class="form-control" type="number" min="0" step="100" />
                                <label for="thetich">Thể tích</label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="md-form form-sm">
                                <i class="fa fa-tint prefix" aria-hidden="true"></i>
                                <input id="conlai" class="form-control" type="text" disabled="disabled" value="0 (l)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md-form form-sm">
                    <i class="fa fa-map-marker prefix"></i>
                    <input id="diachi" class="form-control" type="text" />
                    <label for="diachi">Địa chỉ</label>
                </div>
                <div class="md-form form-sm">
                    <i class="fa fa-pencil-square-o prefix"></i>
                    <input id="tinhtrang" class="form-control" type="text" />
                    <label for="tinhtrang">Tình trạng</label>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Lưu <i id="loader" class="fa fa-circle-o-notch fa-pulse fa-lg fa-fw"></i></button>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Thoát</button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                    <h4 class="modal-title w-100">Thoát</h4>
                                </div>
                                <div class="modal-body text-center">
                                    Bạn thực sự muốn thoát?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                    <a class="btn btn-danger" href="@Url.Action("Index")">Đồng ý</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#loader').hide();
            $('#_form').submit(function (e) {
                e.preventDefault();
                callAjax('post',
                    {
                        Token: Cookies.get('token'),
                        Data: {

                        }
                    },
                    Cookies.get('area'), 'management', 'KhoSua/update',
                    function (data) {

                    });
            });
        });
    </script>
}