
@{
    ViewBag.Title = "Kho sữa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><i class="fa fa-list"></i> Danh sách kho sữa</h2>
@*<a class="blue-text" href="/Manage/WareHouse/Create"><i class="fa fa-arrow-down" aria-hidden="true"></i> Thêm một kho mới</a>*@
<p>
    <a class="btn btn-primary" href="@Url.Action("Create")">Thuê kho</a>
    <a class="btn btn-success" data-toggle="modal" data-target="#transferModal" onclick="setupTransferModal()">Chuyển kho</a>
    <a class="btn btn-warning" href="@Url.Action("Index", "Export")">Xuất kho</a>
</p>
<table class="table table-hover">
    <thead class="thead-inverse">
        <tr>
            <th>Mã kho</th>
            <th>Kho chứa</th>
            <th>Sức chứa (lít)</th>
            <th>Hiện có (lít)</th>
            <th>Hoạt động</th>
            <th>Tình trạng</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbWarehouses"></tbody>
</table>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title w-100">Cảnh báo</h4>
            </div>
            <div class="modal-body text-center">
                Bạn có muốn tiếp tục?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button id="deleteModal_btnYes" type="button" class="btn btn-danger" data-dismiss="modal">Tiếp</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="transferModal" tabindex="-1" role="dialog" aria-labelledby="transferModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title w-100" id="transferModalLabel">Chuyển kho</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    Từ kho&nbsp;
                    <div class="btn-group">
                        <button id="btnTransferFrom" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kho gửi</button>
                        <div class="dropdown-menu" id="tfFrom">
                            <!--load data danh sach kho-->
                        </div>
                    </div>
                    &nbsp;đến kho&nbsp;
                    <div class="btn-group">
                        <button id="btnTransferTo" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kho nhận</button>
                        <div class="dropdown-menu" id="tfTo">
                            <!--load data danh sach kho-->
                        </div>
                    </div>
                </div>
                <br />
                <div class="md-form form-sm">
                    <i class="fa fa-filter prefix"></i>
                    <input id="tfValue" class="form-control" type="number" />
                    <label for="tfValue">Lượng sữa chuyển (lít)</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="transfer($('#btnTransferFrom').attr('my-data'), $('#btnTransferTo').attr('my-data'),  $('#tfValue').val())">Chuyển</button>
            </div>
        </div>
    </div>
</div>
<p class="text-center" id="loader"><i class="fa fa-circle-o-notch fa-pulse fa-lg fa-fw"></i></p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var warehouses;

        $(document).ready(function () {
            loadTable();
        });

        function loadTable() {
            callAjax('post',
                    { Token: Cookies.get("token") },
                    Cookies.get("area"), "management", "KhoSua/getAll",
                    function (data) {
                        if (data.IsError) {
                            toastr["error"](data.Errors[0]);
                            $("#error").show();
                            $("#error").text(data.Errors[0]);
                        }
                        else {
                            if (data.Data) {
                                warehouses = data.Data;
                                //=========================
                                $('#tbWarehouses').html('');
                                for (var i = 0; i < warehouses.length; i++) {
                                    var item = warehouses[i];
                                    
                                    var trType;
                                    if (item.daxoa) {
                                        trType = '<tr class="table-danger" title="' + item.diachi + '">';
                                    } else {
                                        trType = '<tr class="table-success" title="' + item.diachi + '">';
                                    }

                                    var td4;
                                    if (item.daxoa) {
                                        td4 = '<td></td>';
                                    }
                                    else {
                                        td4 = '<td><i class="fa fa-check" aria-hidden="true"></i></td>';
                                    }

                                    var deleteButton;
                                    var editButton;
                                    if (item.daxoa) {
                                        deleteButton = '<a class="green-text" data-toggle="modal" data-target="#deleteModal" onclick="setupModal(\'recover\', \'' + item.makho + '\', true)"><i class="fa fa-refresh" aria-hidden="true"></i></a>';
                                        editButton = '';
                                    }
                                    else {
                                        deleteButton = '<a class="red-text" data-toggle="modal" data-target="#deleteModal" onclick="setupModal(\'delete\', \'' + item.makho + '\', ' + (item.luongsuaco <= 0) + ')"><i class="fa fa-trash" aria-hidden="true"></i></a>';
                                        editButton = '<a class="teal-text" href="/Manage/WareHouse/Edit?id=' + item.makho + '&name=' + item.tenkho + '&max=' + item.succhua + '&cur=' + item.luongsuaco + '&addr=' + item.diachi + '&sta=' + item.tinhtrang + '"><i class="fa fa-pencil"></i></a>';
                                    }

                                    $('#tbWarehouses').append(
                                        trType +
                                            '<td>' + item.makho + '</td>' +
                                            '<td>' + item.tenkho + '</td>' +
                                            '<td>' + item.succhua + ' (L)</td>' +
                                            '<td>' + item.luongsuaco + ' (L)</td>' +
                                            td4 +
                                            '<td>' + item.tinhtrang + '</td>' +
                                            '<td>' +
                                                editButton +
                                                deleteButton +
                                            '</td>' +
                                        '</tr>'
                                        );
                                }
                                //=========================
                            } else {
                                toastr["warning"]("Không có dữ liệu.");
                            }
                        }
                    }
                );
        }

        function setupModal(str, id, cond) {
            $('#deleteModal_btnYes').attr('onclick', 'modalAction(\'' + str + '\', \'' + id + '\', ' + cond + ')');
        }
        function modalAction(str, id, cond) {
            if (cond) {
                callAjax('post', { Token: Cookies.get("token"), Predicates: [id] }, Cookies.get("area"), "management", "KhoSua/" + str,
                    function (result) {
                        if (result.IsError) {
                            if (result.Errors.length > 0) {
                                toastr["error"](result.Errors[0]);
                            }
                        }
                        else {
                            toastr["success"](result.Data);
                            loadTable();
                        }
                    }
                )
            } else {
                toastr['error']("Không thể xóa kho còn sữa.");
            }
        };

        var fromList, toList;
        function setupTransferModal() {
            callAjax('post', { Token: Cookies.get("token") }, Cookies.get("area"), "management", "KhoSua/getAllAvailables",
                    function (result) {
                        if (result.IsError) {
                            if (result.Errors.length > 0) {
                                toastr["error"](result.Errors[0]);
                            }
                        }
                        else {
                            if (result.Data) {
                                toList = result.Data;
                                $("#tfTo").html('');
                                $('#btnTransferTo').html('Kho nhận');
                                $('#btnTransferTo').removeAttr('my-data');
                                for (var i = 0; i < toList.length; i++) {
                                    var row = toList[i].tenkho + ' (' + toList[i].makho + ')';
                                    $("#tfTo").append('<button class="btn btn-primary" type="button" onclick="tf_selectTo(' + i + ')">' + row + '</button>');
                                }
                            }
                        }
                    }
                );
            callAjax('post', { Token: Cookies.get("token") }, Cookies.get("area"), "management", "KhoSua/getAllAvailablesForTransfer",
                    function (result) {
                        if (result.IsError) {
                            if (result.Errors.length > 0) {
                                toastr["error"](result.Errors[0]);
                            }
                        }
                        else {
                            if (result.Data) {
                                fromList = result.Data;
                                $("#tfFrom").html('');
                                $('#btnTransferFrom').html('Kho gửi');
                                $('#btnTransferFrom').removeAttr('my-data');
                                for (var i = 0; i < fromList.length; i++) {
                                    var row = fromList[i].tenkho + ' (' + fromList[i].makho + ')';
                                    $("#tfFrom").append('<button class="btn btn-primary" type="button" onclick="tf_selectFrom(' + i + ')">' + row + '</button>');
                                }
                            }
                        }
                    }
                );
        }
        function transfer(from, to, value) {
            callAjax('post', { Token: Cookies.get("token"), From: from, To: to, Value: value }, Cookies.get("area"), "management", "KhoSua/transfer",
                    function (result) {
                        if (result.IsError) {
                            if (result.Errors.length > 0) {
                                toastr["error"](result.Errors[0]);
                            }
                        }
                        else {
                            toastr["success"](result.Data);
                            loadTable();
                        }
                    }
                );
        }
        function tf_selectFrom(index) {
            var row = fromList[index].tenkho;
            $('#btnTransferFrom').html(row);
            $('#btnTransferFrom').attr('my-data', fromList[index].makho);
        }
        function tf_selectTo(index) {
            var row = toList[index].tenkho;
            $('#btnTransferTo').html(row);
            $('#btnTransferTo').attr('my-data', toList[index].makho);
        }
    </script>
}