@{
    ViewBag.Title = "Công việc của nhân viên hôm nay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script>
        var maphancong;
        var mabo;
        var listchuong;
        var temp;
        $(document).ready(function () {
            callAjax('post', { Token: Cookies.get('token') }, Cookies.get('area'), "management", "ChuongTrai/getAllBy1", function (data) {
                listchuong = data.Data;
                if (listchuong) {
                    callAjax('post', { Token: Cookies.get('token') }, Cookies.get('area'), "animal_care", "assignment/getListAssignmentsOfEmployeer", function (data2) {
                        if (!data2.Data) {
                            //nay ko co viec
                            $('#form').hide();
                            $('#congviec').text('Hôm nay không có việc.');
                        }
                        else {
                            var index = new Array();
                            temp = new Array();
                            for (var i = 0; i < data2.Data.length; i++) {
                                var str = data2.Data[i].NgayTrongTuan;
                                var listngay = str.split(',');

                                var d = new Date();
                                var ngay = d.getDay();
                                var tempngay = new Array();
                                for (var j = 0; j < listngay.length; j++) {
                                    if (listngay[j] == "2") {
                                        tempngay.push(1);
                                    }
                                    if (listngay[j] == "3") {
                                        tempngay.push(2);
                                    }
                                    if (listngay[j] == "4") {
                                        tempngay.push(3);
                                    }
                                    if (listngay[j] == "5") {
                                        tempngay.push(4);
                                    }
                                    if (listngay[j] == "6") {
                                        tempngay.push(5);
                                    }
                                    if (listngay[j] == "7") {
                                        tempngay.push(6);
                                    }
                                    if (listngay[j] == "CN") {
                                        tempngay.push(0);
                                    }
                                }

                                for (var j = 0; j < tempngay.length; j++) {
                                    if (tempngay[j] == ngay) {
                                        index.push(i);
                                        break;
                                    }
                                }
                            }
                            for (var i = 0; i < index.length; i++) {
                                temp.push(data2.Data[index[i]]);
                            }
                            for (var i = 0; i < temp.length; i++) {
                                var name = "";
                                for (var j = 0; j < listchuong.length; j++) {
                                    if (temp[i].MaChuong == listchuong[j].machuong) {
                                        name = listchuong[j].tenchuong;
                                        break;
                                    }
                                }
                                var td =
                                    '<table class="table table-hover" id="' + temp[i].MaChuong + '_table">' +
                                        '<thead class="thead-inverse">' +
                                            '<tr>' +
                                                '<th rowspan="2" class="text-center align-middle">Bò</th>' +
                                                '<th rowspan="2" class="text-center align-middle" width="120px">Lượng sữa</th>' +
                                                '<th rowspan="2" class="text-center align-middle">Cho ăn</th>' +
                                                '<th rowspan="2" class="text-center align-middle">Vệ sinh</th>' +
                                                '<th rowspan="2" class="text-center align-middle" width="180px">Tình trạng công việc</th>' +
                                                '<th colspan="3" class="text-center align-middle" width="300px">Tình trạng bò</th>' +
                                                '<th rowspan="2" colspan="2"></th>' +
                                                //'<th rowspan="2"></th>' +
                                            '</tr>' +
                                            '<tr>' +
                                                '<th class="text-center align-middle">#</th>'+
                                                '<th class="text-center align-middle">Chiều cao (mét)</th>' +
                                                '<th class="text-center align-middle">Cân nặng (kg)</th>' +
                                            '</tr>' +
                                        '</thead>' +
                                        '<tbody>' +
                                        '</tbody>' +
                                    '</table>';

                                var firstExpanded = 'false', firstShow = '';
                                //if (i == 0) {
                                //    firstExpanded = 'true';
                                //    firstShow = 'show';
                                //}
                                $('#accordion').append(
                                    '<div class="card">' +
                                        '<div class="card-header" role="tab" id="' + temp[i].MaPhanCong + '" onclick="chuongtrai(\'' + temp[i].MaPhanCong + '\')">' +
                                            '<a data-toggle="collapse" data-parent="#accordion" href="#' + temp[i].MaChuong + '" aria-expanded="' + firstExpanded + '" aria-controls="' + temp[i].MaChuong + '">' +
                                                '<h5 class="mb-0">' +
                                                    name + '<i class="fa fa-angle-down rotate-icon"></i>' +
                                                '</h5>' +
                                            '</a>' +
                                        '</div>' +
                                        '<div id="' + temp[i].MaChuong + '" class="collapse ' + firstShow + '" role="tabpanel" aria-labelledby="' + temp[i].MaPhanCong + '">' +
                                            '<div class="card-block">' +
                                            td +
                                            '</div>' +
                                        '</div>' +
                                    '</div>');
                                var predicate = temp[i].MaChuong;

                                callAjax('post', { Token: Cookies.get('token'), Predicates: [predicate] }, Cookies.get('area'), "management", "Bo/getAllBy1", function (data3, index) {
                                    if (!data3.Data) {
                                        $('#form').hide();
                                        $('#congviec').text('Hôm nay không có việc!');
                                    }
                                    else {
                                        for (var k = 0; k < data3.Data.length; k++) {
                                            var code = temp[index].MaPhanCong + data3.Data[k].mabo;
                                            $('#' + data3.Data[0].machuong + '_table').append(
                                                '<tr id="tr' + code + '" class="table-success">' +
                                                    '<td class="text-center align-middle" id="idbo' + code + '" rowspan="1">' + data3.Data[k].mabo + '</td>' +
                                                    '<td class="text-center align-middle" id="tdluongsua' + code + '" rowspan="1"><input id="luongsua' + code + '" type="number" min="0" step="1" value="0"/></td>' +
                                                    '<td class="text-center align-middle" id="tdchoan' + code + '" rowspan="1"><div class="form-group"><input type="checkbox" id="choan' + code + '"/><label for="choan' + code + '"></label></div></td>' +
                                                    '<td class="text-center align-middle" id="tdvesinh' + code + '" rowspan="1"><div class="form-group"><input type="checkbox" id="vesinh' + code + '"/><label for="vesinh' + code + '"></label></div></td>' +
                                                    '<td class="text-center align-middle" id="tdtinhtrang' + code + '" rowspan="1"><input id="tinhtrang' + code + '" type="text"/></td>' +
                                                    '<td colspan="3" class="text-center align-middle"><button type="button" onclick="tempmaphancong(\'' + temp[index].MaPhanCong + '\',\'' + data3.Data[k].mabo + '\')" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#basicExample">Ghi nhận tình trạng bò</button></td>' +
                                                    '<td class="text-center align-middle" id="tdsave' + code + '" rowspan="1"><span class="spnSelected" onclick="spanClick(\'' + code + '\',\'' + temp[index].MaPhanCong + '\')"><i class="fa fa-save blue-text" aria-hidden="false"></i></span></td>' +
                                                    '<td class="text-center align-middle" id="tdcheck' + code + '" rowspan="1"><i id="hidden' + code + '" class="fa fa-check" aria-hidden="true" hidden="hidden"></i></td>' +
                                                '</tr>');
                                        }
                                    }
                                }, i);
                            }
                        }
                    });
                } else {
                    $('#form').hide();
                    $('#congviec').text('Hôm nay không có việc.');
                }
            });
        });


        function tempmaphancong(mapc, mab) {
            maphancong = mapc;
            mabo = mab;
        }


        function chuongtrai(mapc) {
            if (!$('#' + mapc).attr('my-loaded')) {
                $('#' + mapc).attr('my-loaded', true);
                callAjax('post', { Token: Cookies.get('token'), Data: { MaPhanCong: mapc } }, Cookies.get("area"), "animal_care", "animalcare/getAll", function (data) {
                    if (data.Data) {
                        //console.log(data);
                        for (var i = 0; i < data.Data.length; i++) {
                            var code = data.Data[i].MaPhanCong+data.Data[i].MaBo;
                            document.getElementById('luongsua' + code).value = data.Data[i].LuongSua;
                            document.getElementById('choan' + code).checked = data.Data[i].DaChoAn;
                            document.getElementById('vesinh' + code).checked = data.Data[i].DaDonVeSinh;
                            document.getElementById('tinhtrang' + code).value = data.Data[i].TinhTrangCongViec;
                            $('#hidden' + code).removeAttr('hidden');

                            callAjax('post', { Token: Cookies.get('token'), Data: { MaChamSoc: data.Data[i].MaChamSoc } }, Cookies.get("area"), "animal_care", "animalcare/getTinhTrangBo", function (data2) {
                                if (data2.Data) {
                                    var t = data2.Data.length;
                                    console.log(data2);
                                    var code = data2.Data[0].MaPhanCong + data2.Data[0].MaBo;
                                    $('#idbo' + code).attr('rowspan', t + 1);
                                    $('#tdluongsua' + code).attr('rowspan', t + 1);
                                    $('#tdchoan' + code).attr('rowspan', t + 1);
                                    $('#tdvesinh' + code).attr('rowspan', t + 1);
                                    $('#tdtinhtrang' + code).attr('rowspan', t + 1);
                                    $('#tdsave' + code).attr('rowspan', t + 1);
                                    $('#tdcheck' + code).attr('rowspan', t + 1);

                                    for (var i = 0; i < data2.Data.length; i++) {
                                        var stt = "Lần " + (i + 1);
                                        $('#tr' + code).last().after(
                                            '<tr class="table-success">' +
                                            '<td class="text-center align-middle">' + stt + '</td>' +
                                            '<td class="text-center align-middle">' + data2.Data[i].ChieuCao + '</td>' +
                                            '<td class="text-center align-middle">' + data2.Data[i].CanNang + '</td>' +
                                            '</tr>'
                                            );
                                    }
                                }
                            });
                        }

                        

                    }
                });
                
            }
        }

        function spanClick(code, mapc) {
            var mabo = document.getElementById('idbo' + code).innerHTML;
            var luongsua = document.getElementById('luongsua' + code).value;
            if (!luongsua) {
                luongsua = 0;
            }
            var choan = document.getElementById('choan' + code).checked;
            var vesinh = document.getElementById('vesinh' + code).checked;
            var tinhtrang = document.getElementById('tinhtrang' + code).value;
            if (!tinhtrang) {
                tinhtrang = "Tốt";
            }

            callAjax('post', {
                Token: Cookies.get("token"), Data: {
                    MaBo: mabo,
                    TinhTrangCongViec: tinhtrang,
                    LuongSua: luongsua,
                    DaChoAn: choan,
                    DaDonVeSinh: vesinh,
                    MaPhanCong: mapc
                }
            }, Cookies.get("area"), "animal_care", "animalcare/add", function (data) {
                if (!data.Data) {
                    for (var i = 0; i < data.Errors.length; i++) {
                        toastr["error"](data.Errors[i]);
                    }

                }
                else {
                    toastr["success"](data.Data);
                    document.getElementById('tinhtrang' + code).value = tinhtrang;
                    $('#hidden' + code).removeAttr('hidden');
                }
            });
        }

        function saveclick() {
            var chieucao = document.getElementById('chieucao').value;
            var cannang = document.getElementById('cannang').value;
            callAjax('post', {
                Token: Cookies.get('token'),
                Data: {
                    MaPhanCong: maphancong,
                    MaBo:mabo,
                    ChieuCao: chieucao,
                    CanNang: cannang
                },
                TinhTrang: document.getElementById('tinhtrangbo').value
            }, Cookies.get("area"), "animal_care", "animalcare/addTinhTrangBo", function (data) {
                console.log(data);
                if (data.IsError){
                    toastr['error'](data.Errors[0]);
                } else if (data.Data) {
                    var code = data.Data.MaPhanCong + data.Data.MaBo;
                    var t = parseInt(document.getElementById('idbo' + code).attributes.getNamedItem('rowspan').value);
                    $('#idbo' + code).attr('rowspan', t + 1);
                    $('#tdluongsua' + code).attr('rowspan', t + 1);
                    $('#tdchoan' + code).attr('rowspan', t + 1);
                    $('#tdvesinh' + code).attr('rowspan', t + 1);
                    $('#tdtinhtrang' + code).attr('rowspan', t + 1);
                    $('#tdsave' + code).attr('rowspan', t + 1);
                    $('#tdcheck' + code).attr('rowspan', t + 1);
                    var stt = 'Lần ' + t;
                    $('#tr' + code).last().after(
                        '<tr class="table-success">' +
                        '<td class="text-center align-middle">' + stt + '</td>' +
                        '<td class="text-center align-middle">'+ chieucao +'</td>' +
                        '<td class="text-center align-middle">' + cannang + '</td>'+
                        '</tr>'
                        );
                    toastr['success']("Ghi nhận tình trạng thành công.");
                }
            });
        }


    </script>
}

<h2>Công việc </h2>
<div id="controller">
</div>
<p id="congviec">
</p>
<form id="form">
    <p>
        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">

        </div>
    </p>
</form>

<!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#basicExample">
    Launch demo modal
</button>*@

<!-- Modal -->
<div class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Tình trạng bò</h4>
            </div>
            <!--Body-->
            <div class="modal-body">
                <label class="w-25 text-center">Chiều cao</label><input id="chieucao" type="number" min="0" value="0" step="0.1" class="w-50 text-right" />&nbsp;(mét)<br />
                <label class="w-25 text-center">Cân nặng</label><input id="cannang" type="number" min="0" value="0" class="w-50 text-right" />&nbsp;(kg)<br/>
                <br />
                <div class="md-form form-sm">
                    <i class="fa fa-pencil-square-o prefix"></i>
                    <input id="tinhtrangbo" class="form-control" type="text" />
                    <label for="tinhtrangbo">Tình trạng bò</label>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" onclick="saveclick()" data-dismiss="modal">Lưu</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Modal -->