Wind_DrinkSmile_MiddleWare/ConsoleTest
Wind_DrinkSmile_MiddleWare/Configs/bin
Wind_DrinkSmile_MiddleWare/Configs/obj
Wind_DrinkSmile_MiddleWare/DataAccess/bin
Wind_DrinkSmile_MiddleWare/DataAccess/obj
Wind_DrinkSmile_MiddleWare/DataService/bin
Wind_DrinkSmile_MiddleWare/DataService/obj
Wind_DrinkSmile_MiddleWare/DomainData/bin
Wind_DrinkSmile_MiddleWare/DomainData/obj
FrontEnd_DrinkSmile/packages/
FrontEnd_DrinkSmile/FrontEnd_DrinkSmile/bin/
FrontEnd_DrinkSmile/FrontEnd_DrinkSmile/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FrontEnd_DrinkSmile/.vs/
FrontEnd_DrinkSmile/FrontEnd_DrinkSmile/obj/
FrontEnd_DrinkSmile/FrontEnd_DrinkSmile/packages.config
FrontEnd_DrinkSmile/FrontEnd_DrinkSmile/Project_Readme.html
