Wind_DrinkSmile_MiddleWare/ConsoleTest
Wind_DrinkSmile_MiddleWare/Configs/bin
Wind_DrinkSmile_MiddleWare/Configs/obj
Wind_DrinkSmile_MiddleWare/DataAccess/bin
Wind_DrinkSmile_MiddleWare/DataAccess/obj
Wind_DrinkSmile_MiddleWare/DataService/bin
Wind_DrinkSmile_MiddleWare/DataService/obj
Wind_DrinkSmile_MiddleWare/DomainData/bin
Wind_DrinkSmile_MiddleWare/DomainData/obj
Wind_DrinkSmile_MiddleWare/packages
FrontEnd_DrinkSmile/packages/
FrontEnd_DrinkSmile/FrontEnd_DrinkSmile/bin/
FrontEnd_DrinkSmile/.vs/
FrontEnd_DrinkSmile/FrontEnd_DrinkSmile/obj/
FrontEnd_DrinkSmile/FrontEnd_DrinkSmile/Project_Readme.html
BackEnd/Service_ImportExport/build/
BackEnd/Service_ImportExport/dist/
BackEnd/Service_ImportExport/nbproject/private/
BackEnd/ReportService/Configs/bin
BackEnd/ReportService/Configs/obj
BackEnd/ReportService/DomainData/bin
BackEnd/ReportService/DomainData/obj
BackEnd/ReportService/DataAccess/bin
BackEnd/ReportService/DataAccess/obj
BackEnd/ReportService/Service/bin
BackEnd/ReportService/Service/obj
BackEnd/ReportService/packages
BackEnd/Service_Login/Configs/bin
BackEnd/Service_Login/Configs/obj
BackEnd/Service_Login/DomainData/bin
BackEnd/Service_Login/DomainData/obj
BackEnd/Service_Login/DataAccess/bin
BackEnd/Service_Login/DataAccess/obj
BackEnd/Service_Login/Service/bin
BackEnd/Service_Login/Service/obj
BackEnd/Service_Login/packages