@{
    ViewBag.Title = "Phân công nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script>
        $(document).ready(function () {
            var listchuong;
            callAjax('post', { Token: Cookies.get('token') }, Cookies.get('area'), "management", "ChuongTrai/getAll", function (data2) {
                listchuong = data2.Data;
            });
            callAjax('post', { Token: Cookies.get('token') }, Cookies.get('area'), "management", "NhanVien/getAll", function (data1) {
                if (!data1.Data || data1.Data.length <= 0) {
                    $('#form').hide();
                    $('#congviec').text('Không có nhân viên đang làm việc.');
                } else {
                    callAjax('post', { Token: Cookies.get('token'), Data: data1.Data }, Cookies.get('area'), "animal_care", "assignment/getListAssignmentsOfAgency", function (data) {
                        console.log(data);
                        if (!data.Data || data.Data.length <= 0) {
                            $('#form').hide();
                            $('#congviec').text('Chưa có phân công nào!');
                        }
                        else {
                            var count = 0;
                            for (var i = 0; i < data.Data.length; i++) {

                                var days = data.Data[i].NgayTrongTuan.split(',');
                                var week = ["2", "3", "4", "5", "6", "7", "CN"];

                                for (var j = 0; j < week.length; j++) {
                                    if (!days.includes(week[j])) {
                                        week[j] = "";
                                    }
                                }

                                tdhoten = "";
                                if (i!=0 && data.Data[i-1].MaNV == data.Data[i].MaNV) {
                                    $('#' + data.Data[i].MaNV).attr('rowspan', count + 1)
                                    count++;
                                    tdhoten = "<br/>" + tdhoten;
                                }
                                else {
                                    var color = "#eceff1";
                                    if (i!=0) {
                                        if($('#'+data.Data[i-1].MaNV).attr('bgcolor')=='#eceff1'){
                                            color = "#ffffff";
                                        }
                                    }
                                    tdhoten += '<td class="text-center align-middle" bgcolor="' + color + '" id="' + data.Data[i].MaNV + '" rowspan="1">' + data.Data[i].HoTen + '</td>';
                                    count = 1;
                                }


                                var tdlich = "";
                                for (var j = 0; j < week.length; j++) {
                                    if (!days.includes(week[j])) {
                                        tdlich += '<td></td>';
                                    }
                                    else {
                                        tdlich += '<td class="text-center align-middle"><i class="fa fa-check" aria-hidden="true"></i></td>';
                                    }
                                }
                                var tdtenchuong = "";
                                for (var k = 0; k < listchuong.length; k++) {
                                    if (data.Data[i].MaChuong == listchuong[k].machuong) {
                                        tdtenchuong = '<td class="text-center align-middle">' + listchuong[k].tenchuong + '</td>';
                                    }
                                }
                                $('#dataTables').append('<tr height="50px" class="table-success">' +
                                    tdhoten +
                                    tdlich +
                                    '<td class="text-center align-middle">' + data.Data[i].NgayBatDauFormatted + '</td>' +
                                    '<td class="text-center align-middle">' + data.Data[i].NgayKetThucFormatted + '</td>' +
                                    tdtenchuong +
                                    '<td class="text-center align-middle"><a href="/Manage/Assignment/Update?maphancong=' + data.Data[i].MaPhanCong + '&hoten=' + data.Data[i].HoTen + '"><i class="fa fa-edit" aria-hidden="true"></i></a></td>' +
                                    '</tr>');
                            }
                        }

                    })
                }
            })
        });

        function addclick() {
            window.location.href = '/Manage/Assignment/Create'
        }
    </script>
}

<h2><i class="fa fa-list"></i> Quản lý Phân Công</h2>
<a class="btn btn-primary" href="@Url.Action("Create")">Thêm mới phân công</a>
<p id="congviec"></p>
<form id="form">
    
    <div id="list_provider">
        <div class="panel-body">
            <div class="dataTable_wrapper">
                <table class="table table-hover" id="dataTables">
                    <thead class="thead-inverse">
                        <tr>
                            <th rowspan="2" class="text-center align-middle" style="vertical-align:middle">Nhân viên</th>
                            <th colspan="7" class="text-center align-middle" style="vertical-align:middle">Ngày trong tuần</th>
                            <th rowspan="2" class="text-center align-middle" style="vertical-align:middle">Bắt đầu</th>
                            <th rowspan="2" class="text-center align-middle" style="vertical-align:middle">Kết thúc</th>
                            <th rowspan="2" class="text-center align-middle" style="vertical-align:middle">Chuồng</th>
                            <th rowspan="2"></th>
                        </tr>
                        <tr>
                            <th width="60px" class="text-center align-middle">2</th>
                            <th width="60px" class="text-center align-middle">3</th>
                            <th width="60px" class="text-center align-middle">4</th>
                            <th width="60px" class="text-center align-middle">5</th>
                            <th width="60px" class="text-center align-middle">6</th>
                            <th width="60px" class="text-center align-middle">7</th>
                            <th width="60px" class="text-center align-middle">CN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!---->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>