/* YOUR CUSTOM STYLES */
footer.page-footer {
    margin-top: 0px;
    padding-top: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

main {
    margin-top: calc(56px + 3rem);
    margin-bottom: 50px;
}

input:-webkit-autofill { -webkit-box-shadow: 0 0 0 50px white inset !important }
button.navbar-toggler { padding-right: 0px }
.field-validation-error,
.mdb-select { margin-left: 3rem }
.md-form > label { width: 100% }