
@{
    ViewBag.Title = "Lập phiếu xuất kho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="offset-lg-1 col-lg-10 offset-md-1 col-md-10 offset-sm-1 col-sm-10 col-xs-12">

        <form id="form_action" method="post" role="form">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="text-center">
                        <h3><i class="fa fa-truck" aria-hidden="true"></i> Lập phiếu xuất kho</h3>
                        <hr class="mt-2 mb-2">
                    </div>

                    <div class="md-form form-sm">
                        <i class="fa fa-map-marker prefix"></i>
                        <textarea id="lydo" class="md-textarea" length="100" required="required"></textarea>
                        <label for="lydo">Lý do xuất kho</label>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Thêm <i id="loader" class="fa fa-circle-o-notch fa-pulse fa-lg fa-fw"></i></button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Thoát</button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                        <h4 class="modal-title w-100">Thoát</h4>
                                    </div>
                                    <div class="modal-body text-center">
                                        Bạn thực sự muốn thoát?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                        <a class="btn btn-danger" href="@Url.Action("Index")">Đồng ý</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 border-bottom-0 border-top-0 border-right-0" style="border: 1px solid lightgray">
                    <table class="table table-hover">
                        <thead class="table-inverse">
                            <tr>
                                <th>Tên kho</th>
                                <th>Lượng xuất (lít)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="dsKhoXuat">
                            <tr>
                                <td colspan="3">
                                    <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#addExModal">Thêm kho xuất</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="modal fade" id="addExModal" tabindex="-1" role="dialog" aria-labelledby="addExModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title w-100" id="addExModalLabel">Thêm kho xuất</h4>
            </div>
            <div class="modal-body">
                <div class="btn-group w-100">
                    <button id="btnSelectWarehouse" class="btn btn-primary dropdown-toggle w-100" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kho xuất</button>
                    <div class="dropdown-menu" id="listWarehouse">
                        <!--load data danh sach kho-->
                    </div>
                </div>
                <br />
                <br />
                <div class="md-form form-sm">
                    <i class="fa fa-filter prefix"></i>
                    <input id="exValue" class="form-control" type="number" />
                    <label for="exValue">Lượng sữa xuất (lít)</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="addEx('.......................................')">Chuyển</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#loader').hide();
            
            callAjax('post',
                    { Token: Cookies.get("token") },
                    Cookies.get("area"), "management", "KhoSua/getAllAvailables",
                    function (data) {
                        if (data.Data) {

                            for (var i = 0; i < data.Data.length; i++) {
                                var item = data.Data[i];
                                var row = item.tenkho + ' (' + item.makho + ')';
                                $("#listWarehouse").append('<button class="btn btn-primary w-100" type="button" onclick="selectWarehouse(\'' + item.makho + '\', \'' + item.tenkho + '\')">' + row + '</button>');
                            }
                        }
                    }
                );

            $('#form_action').submit(function (e) {
                e.preventDefault();
                if (listEx.length <= 0) {
                    toastr['error']("Xin hãy chọn kho xuất.");
                    return;
                }
                callAjax('post',
                    {
                        Token: Cookies.get('token'),
                        Data: {
                            tongluongsua: totalValueEx,
                            lydo: $('#lydo').val()
                        },
                        Details: listEx
                    },
                    Cookies.get('area'), 'import_export', 'PhieuXuat/addMilk',
                    function (data) {
                        if (data.IsError) {
                            toastr["error"](data.Errors[0]);
                            $("#error").show();
                            $("#error").text(data.Errors[0]);
                        }
                        else if (data.Data) {
                            toastr["success"](data.Data);
                            $('#form_action')[0].reset();
                            $('.itemListEx').remove();
                        }
                    });
            })
        });

        var listEx = [];
        var totalValueEx = 0;
        function addEx() {
            var idEx = $('#btnSelectWarehouse').attr('my-data');
            var valEx = parseFloat($('#exValue').val());
            if (!idEx || !valEx) {
                return;
            }

            var i = find(idEx);
            if (i >= 0) {
                totalValueEx -= listEx[i].luongsuaxuat;
                listEx[i].luongsuaxuat = valEx;
                $('#valEx' + idEx).html(valEx + ' (L)');
                totalValueEx += valEx;
            } else {
                listEx.push({ id: { makho: idEx }, luongsuaxuat: valEx });
                totalValueEx += valEx;
                $('#dsKhoXuat').append(
                    '<tr class="itemListEx" id="' + idEx + '">' +
                        '<td>' + $('#btnSelectWarehouse').html() + '</td>' +
                        '<td id="valEx' + idEx + '">' + valEx + ' (L)</td>' +
                        '<td>' +
                            '<a class="red-text" onclick="removeEx(\'' + idEx + '\')"><i class="fa fa-trash" aria-hidden="true"></i></a>' +
                        '</td>' +
                    '</tr>'
                    );
            }
        }

        function removeEx(id) {
            var i = find(id);
            if (i >= 0) {
                totalValueEx -= listEx[i].luongsuaxuat;
                listEx.splice(i, 1);
                $('#' + id).remove();
            }
        }

        function selectWarehouse(id, name) {
            $('#btnSelectWarehouse').html(name);
            $('#btnSelectWarehouse').attr('my-data', id);
        }

        function find(id) {
            for (var i = 0; i < listEx.length; i++) {
                if (listEx[i].id.makho == id)
                    return i;
            }
            return -1;
        }
    </script>
}