
@{
    ViewBag.Title = "Xuất kho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><i class="fa fa-list"></i> Các lần xuất kho</h2>
<p>
    <a class="btn btn-primary" href="@Url.Action("Export")">Xuất kho</a>
</p>
<p class="text-center" id="empty_message">Chưa có ghi nhận xuất kho nào.</p>
<table class="table table-hover" id="tableData">
    <thead class="thead-inverse">
        <tr>
            <th>Mã phiếu</th>
            <th>Ngày lập</th>
            <th>Ngày xuất</th>
            <th>Tổng lượng sữa (lít)</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbBillIndex"></tbody>
</table>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title w-100">Cảnh báo</h4>
            </div>
            <div class="modal-body text-center">
                Bạn có muốn tiếp tục?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button id="deleteModal_btnYes" type="button" class="btn btn-danger" data-dismiss="modal">Tiếp</button>
            </div>
        </div>
    </div>
</div>
<p class="text-center" id="loader"><i class="fa fa-circle-o-notch fa-pulse fa-lg fa-fw"></i></p>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            loadTable();
        });

        function loadTable() {
            callAjax('post',
                { Token: Cookies.get("token") },
                Cookies.get("area"), "import_export", "PhieuXuat/getAll",
                function (data) {
                    if (data.IsError) {
                        toastr["error"](data.Errors[0]);
                        $("error").show();
                        $("error").text(data.Errors[0]);
                    }
                    else {
                        if (data.Data && data.Data.length > 0) {
                            $("#empty_message").hide();
                            $('#tbBillIndex').empty();
                            for (var i = 0; i < data.Data.length; i++) {
                                var item = data.Data[i];

                                var trType;
                                var deleteButton;
                                var exportButton;
                                var td3;
                                if (item.dahuy) {
                                    trType = '<tr class="table-danger" title="' + item.lydo + '">';
                                    deleteButton = '';
                                    exportButton = '';
                                    td3 = '<td></td>';
                                } else if (item.ngayxuat) {
                                    trType = '<tr class="table-success" title="' + item.lydo + '">';
                                    deleteButton = '';
                                    exportButton = '';
                                    td3 = '<td>' + data.Data[i].ngayxuat + '</td>';
                                } else {
                                    trType = '<tr class="table-warning" title="' + item.lydo + '">';
                                    deleteButton = '<a class="red-text" data-toggle="modal" data-target="#deleteModal" onclick="setupModal(\'delete\', \'' + item.machungtu + '\', true)"><i class="fa fa-trash" aria-hidden="true"></i></a>';
                                    exportButton = '<a class="teal-text" onclick="exportNow(\'' + item.machungtu + '\')"><i class="fa fa-truck" aria-hidden="true"></i></a>';
                                    td3 = '<td></td>';
                                }

                                $('#tbBillIndex').append(
                                    trType +
                                        '<td>' + data.Data[i].machungtu + '</td>' +
                                        '<td>' + data.Data[i].ngaylap + '</td>' +
                                        td3 +
                                        '<td>' + data.Data[i].tongluongsua + ' (L)</td>' +
                                        '<td>' +
                                            exportButton + deleteButton +
                                        '</td>' +
                                    '</tr>'
                                );
                            }
                        } else {
                            $("#tableData").hide();
                        }
                    }
                });
        }

        function setupModal(str, id, cond) {
            $('#deleteModal_btnYes').attr('onclick', 'modalAction(\'' + str + '\', \'' + id + '\', ' + cond + ')');
        }
        function modalAction(str, id, cond) {
            if (cond) {
                callAjax('post', { Token: Cookies.get("token"), machungtu: id }, Cookies.get("area"), "import_export", "PhieuXuat/" + str,
                    function (result) {
                        if (result.IsError) {
                            if (result.Errors.length > 0) {
                                toastr["error"](result.Errors[0]);
                            }
                        }
                        else {
                            toastr["success"](result.Data);
                            loadTable();
                        }
                    });
            } else {
                toastr['error']("Sửa đã xuất kho nên không thể hủy ghi nhận.");
            }
        };

        function exportNow(id){
            callAjax('post', { Token: Cookies.get("token"), machungtu: id }, Cookies.get("area"), "import_export", "PhieuXuat/exportNow",
                    function (result) {
                        if (result.IsError) {
                            if (result.Errors.length > 0) {
                                toastr["error"](result.Errors[0]);
                            }
                        }
                        else {
                            toastr["success"](result.Data);
                            loadTable();
                        }
                    });
        }
    </script>
}
