@{
    ViewBag.Title = "Chi Nhánh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            loaddata();
        });

        function loaddata() {
            callAjax('post', { Token: Cookies.get('token') }, Cookies.get("area"), "management", "ChiNhanh/getAll", function (data) {
                if (data.IsError) {
                    toastr["error"](data.Errors[0]);
                    $("#error").show();
                    $("#error").text(data.Errors[0]);
                }
                else {
                    if (data.Data && data.Data.length > 0) {
                        $("#empty_message").hide();
                        $('#data_chinhanh').empty();
                        for (var i = 0; i < data.Data.length; i++) {
                            var item = data.Data[i];
                            //gấn dữ liệu
                            var trType;
                            var deleteButton;
                            var editButton;
                            var importButton;
                            var actAgency;
                            if (item.daxoa) {
                                trType = '<tr class="table-danger">';
                                deleteButton = '<a class="green-text" data-toggle="modal" data-target="#recoverModal" onclick="setupModal(\'recover\', \'' + item.machinhanh + '\', true)"><i class="fa fa-refresh" aria-hidden="true"></i></a>';
                                editButton = '';
                                importButton = '';
                                actAgency = '';
                            }
                            else {
                                trType = '<tr class="table-success">';
                                deleteButton = '<a class="red-text" data-toggle="modal" data-target="#deleteModal" onclick="setupModal(\'delete\', \'' + item.machinhanh + '\', true)"><i class="fa fa-trash" aria-hidden="true"></i></a>';
                                editButton = '<a class="teal-text" href="/Manage/Agency/Update?machinhanh=' + item.machinhanh + '"><i class="fa fa-pencil"></i></a>';
                                importButton = '<a class="teal-text" href="/Manage/Import/Import?id=' + item.machinhanh + '"><i class="fa fa-cubes" aria-hidden="true"></i></a>';
                                actAgency = '<a class="green-text" onclick="changerole(\'' + item.machinhanh + '\')"><i class="fa fa-code-fork" aria-hidden="true"></i></a>';
                            }

                            $('#data_chinhanh').append(
                                trType +
                                    "<td>" + item.tenchinhanh + ' (' + data.Data[i].machinhanh.split('CN', 1)[0] + ")</td>" +
                                    "<td>" + item.sodt + "</td>" +
                                    "<td>" + item.diachi + "</td>" +
                                    "<td>" + item.tinhtrang + "</td>" +
                                    '<td id="' + item.quanly + '"></td>' +
                                    '<td>' + editButton + importButton + deleteButton + '</td>' +
                                    '<td>' + actAgency + '</td>' +
                                "</tr>");

                            // lay tên nha quan ly
                            callAjax('post', { Token: Cookies.get("token"), UserId: item.quanly }, Cookies.get("area"), "management", "NhanVien/getbyDirector",
                                function (result, quanlyID) {
                                    if (!result.Error && result.Data)
                                        $('#' + quanlyID).html(result.Data.hoten);
                                }, item.quanly
                            )
                        }
                    } else {
                        $("#dataTable").hide();
                    }
                }
            })
        };

        function xoachinhanh(machinhanh) {
            callAjax('post', {
                Token: Cookies.get('token'),
                Data: {
                    machinhanh: machinhanh
                }
            }, Cookies.get("area"), "management", "ChiNhanh/delete", function (data) {
                if (data.IsError) {
                    toastr["error"](data.Errors[0]);
                    $("#error").show();
                    $("#error").text(data.Errors[0]);
                }
                else {
                    toastr["success"](data.Data);
                    loaddata();
                }
            })
        };

        function khoiphucchinhanh(machinhanh) {
            callAjax('post', {
                Token: Cookies.get('token'),
                Data: {
                    machinhanh: machinhanh
                }
            }, Cookies.get("area"), "management", "ChiNhanh/recover", function (data) {
                if (data.IsError) {
                    toastr["error"](data.Errors[0]);
                    $("#error").show();
                    $("#error").text(data.Errors[0]);
                }
                else {
                    toastr["success"](data.Data);
                    loaddata();
                }
            })
        };

        function setupModal(str, id, cond) {
            //$('#recoverModal_btnYes').attr('onclick', 'modalAction(\'' + str + '\', \'' + id + '\', ' + cond + ')')
            //recoverModal_btnYes
            if (str == "recover") {
                $('#recoverModal_btnYes').attr('onclick', 'modalAction(\'' + str + '\', \'' + id + '\', ' + cond + ')');
            } else if (str == "delete") {
                $('#deleteModal_btnYes').attr('onclick', 'modalAction(\'' + str + '\', \'' + id + '\', ' + cond + ')');
            }
            else {
                alert("hello");
            }
        }
        function modalAction(str, id, cond) {
            if (cond) {
                callAjax('post', {
                    Token: Cookies.get('token'),
                    Data: {
                        machinhanh: id
                    }
                }, Cookies.get("area"), "management", "ChiNhanh/" + str, function (data) {
                    if (data.IsError) {
                        toastr["error"](data.Errors[0]);
                        $("#error").show();
                        $("#error").text(data.Errors[0]);
                    }
                    else {
                        toastr["success"](data.Data);
                        loaddata();
                    }
                });
            }
        }

        function changerole(agencyId) {
            callAjax('post', {
                Token: Cookies.get('token'),
                IsUp: false,
                AgencyId: agencyId
            }, Cookies.get("area"), "login", "account/changerole", function (data) {
                if (data.Data) {
                    window.location.href = '/Home/Index';
                    Cookies.set('role', 2);
                    Cookies.set('changerole', true);
                }
            });
        }
    </script>
}
<h2><i class="fa fa-list"></i> Danh sách Chi Nhánh</h2>
<p>
    <a class="btn btn-primary" href="@Url.Action("Create")">Thêm chi nhánh</a>
    <a class="btn btn-success" href="@Url.Action("Index", "Import")">Nhập bò</a>
</p>
<p class="text-center" id="empty_message">Chưa có chi nhánh nào.</p>
<table class="table table-hover" id="dataTable">
    <thead class="table-inverse">
        <tr>
            <th>Tên chi nhánh</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ</th>
            <th>Tình trạng</th>
            <th>Quản lý</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="data_chinhanh">
        @* hien danh sach nha cung cap *@
    </tbody>
</table>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title w-100">Xóa chi nhánh</h4>
            </div>
            <div class="modal-body text-center">
                Bạn có muốn tiếp tục?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button id="deleteModal_btnYes" type="button" class="btn btn-danger" data-dismiss="modal">Tiếp</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="recoverModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title w-100">Khôi phục chi nhánh</h4>
            </div>
            <div class="modal-body text-center">
                Bạn có muốn tiếp tục?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button id="recoverModal_btnYes" type="button" class="btn btn-danger" data-dismiss="modal">Tiếp</button>
            </div>
        </div>
    </div>
</div>
<p class="text-center" id="loader"><i class="fa fa-circle-o-notch fa-pulse fa-lg fa-fw"></i></p>
