@{
    ViewBag.Title = "Chi Nhánh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            loaddata();
        });

        function loaddata() {
            callAjax('post', { Token: Cookies.get('token') }, Cookies.get("area"), "management", "ChiNhanh/getAll", function (data) {
                if (data.IsError) {
                    toastr["error"](data.Errors[0]);
                    $("#error").show();
                    $("#error").text(data.Errors[0]);
                }
                else {
                    $('#data_chinhanh').empty();
                    for (var i = 0; i < data.Data.length; i++) {
                        var item = data.Data[i];
                        // lay tên nha quan ly
                        var tenquanly;
                        callAjax('post', { Token: Cookies.get("token"), UserId: item.quanly }, Cookies.get("area"), "management", "NhanVien/getbyDirector",
                            function (result) {
                                if (result.IsError) {
                                    toastr["error"](result.Errors[0]);
                                }
                                else {
                                    //alert(result.Data.hoten);
                                    tenquanly = result.Data.hoten;
                                }
                            }
                        );
                        // item.quanly = tenquanly;
                        //gấn dữ liệu
                        var deleteButton;
                        var editButton;
                        var checkdaxoa;
                        if (item.daxoa) {
                            deleteButton = '<a class="green-text" onclick="khoiphucchinhanh(\'' + item.machinhanh + '\')"><i class="fa fa-refresh" aria-hidden="true"></i></a>';
                            editButton = '';
                            checkdaxoa = '<i class="fa fa-check" aria-hidden="true"></i>';
                        }
                        else {
                            deleteButton = '<a class="red-text" onclick="xoachinhanh(\'' + item.machinhanh + '\')"><i class="fa fa-trash" aria-hidden="true"></i></a>';
                            editButton = '<a href="/Manage/Agency/Update?machinhanh=' + item.machinhanh + '"><i class="fa fa-edit" aria-hidden="true"></i></a>';
                            checkdaxoa = '';
                        }

                        $('#data_chinhanh').append('<tr id="" onclick="chinhanhclick(' + i + ')">' +
                            "<td>" + item.machinhanh + "</td>" +
                            "<td>" + item.tenchinhanh + "</td>" +
                            "<td>" + item.sodt + "</td>" +
                            "<td>" + item.diachi + "</td>" +
                            "<td>" + item.tinhtrang + "</td>" +
                            "<td>" + checkdaxoa + "</td>" +
                            "<td>" + item.quanly + "</td>" +
                            '<td align="center" valign="middle">' + editButton + deleteButton + '</td>' +
                            "</tr>");
                    }
                }
            })
        };
        function laytenquanly(manv) {
            callAjax('post', { Token: Cookies.get("token"), UserId: manv }, Cookies.get("area"), "management", "NhanVien/getbyDirector",
                    function (result) {
                        if (result.IsError) {
                            toastr["error"](result.Errors[0]);
                        }
                        else {
                            alert(result.Data.hoten);
                            item.quanly = result.Data.hoten;
                        }
                    }
                );
        };
        function xoachinhanh(machinhanh) {
            callAjax('post', {
                Token: Cookies.get('token'),
                Data: {
                    machinhanh: machinhanh,
                    hoten: "",
                    ngaysinh: "",
                    gioitinh: "",
                    diachi: "",
                    email: "",
                    sodt: ""
                }
            }, Cookies.get("area"), "management", "ChiNhanh/delete", function (data) {
                if (data.IsError) {
                    toastr["error"](data.Errors[0]);
                    $("#error").show();
                    $("#error").text(data.Errors[0]);
                }
                else {
                    loaddata();
                }
            })
        };
        function khoiphucchinhanh(machinhanh) {
            callAjax('post', {
                Token: Cookies.get('token'),
                Data: {
                    machinhanh: machinhanh,
                    hoten: "",
                    ngaysinh: "",
                    gioitinh: "",
                    diachi: "",
                    email: "",
                    sodt: ""
                }
            }, Cookies.get("area"), "management", "ChiNhanh/recover", function (data) {
                if (data.IsError) {
                    toastr["error"](data.Errors[0]);
                    $("#error").show();
                    $("#error").text(data.Errors[0]);
                }
                else {
                    loaddata();
                }
            })
        };
        function themchinhanh() {
            window.location.href = 'http://localhost:8082/Manage/Agency/Create'
        }
    </script>
}
<h2>Quản lý Chi Nhánh</h2>
<div id="controller">

</div>
<div id="list_provider">
    <div class="panel-body">

        <div id="button_function">
            <button type="button" class="btn btn-success" onclick="themchinhanh()">Thêm Chi Nhánh</button>
        </div>

        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables">
                <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Tên Chi Nhánh</th>
                        <th>Số Điện Thoại</th>
                        <th>Địa chỉ</th>
                        <th>Tình Trạng</th>
                        <th>Đã Xóa</th>
                        <th>NV Quản Lý</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="data_chinhanh">
                    @* hien danh sach nha cung cap *@
                </tbody>
            </table>
        </div>
    </div>
</div>
