@{
    ViewBag.Title = "Chi Nhánh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script>
        function callAjax(type, data, successCallback) {
            $.ajax({
                type: type,
                dataType: 'json',
                data: data,
                url: 'http://localhost:8080/Service_Management/webresources/ChiNhanh/getAll',
                beforeSend: function () { },
                complete: function () { },
                success: function (data) {
                    successCallback(data);
                },
                error: function () {
                    toastr["error"]("Không thể kết nối tới máy chủ !");
                    $("#error").show();
                    $("#error").text("Không thể kết nối tới máy chủ");
                }
            });
        }

        $(document).ready(function () {
            callAjax('post', {}, function (data) {
                if (data.IsError) {
                    toastr["error"](data.Errors[0]);
                    $("#error").show();
                    $("#error").text(data.Errors[0]);
                }
                else {
                    for (var i = 0; i < data.Data.length; i++) {
                        $('#data_chinhanh').append("<tr>" +
                            "<td> <input type='checkbox' id='id_rows_to_delete0_left' name='rows_to_delete[0]' </td>" +
                            "<td>" + data.Data[i].machinhanh + "</td>" +
                            "<td>" + data.Data[i].tenchinhanh + "</td>" +
                            "<td>" + data.Data[i].sodt + "</td>" +
                            "<td>" + data.Data[i].diachi + "</td>" +
                            "<td>" + data.Data[i].tinhtrang + "</td>" +
                            "<td>" + data.Data[i].daxoa + "</td>" +
                            "<td>" + data.Data[i].quanly + "</td>" +
                             + "</tr>");
                    }
                }
            })
        });
    </script>
}
<h2>Quản lý Chi Nhánh</h2>
<div id="controller">

</div>
<div id="list_provider">
    <div class="panel-body">

        <div id="button_function">
            <button>Them Chi Nhánh</button>
            <button>Xoa Chi Nhánh</button>
            <button>Sua Chi Nhánh</button>
        </div>

        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables">
                <thead>
                    <tr>
                        <th>check all</th>
                        <th>Mã Chi Nhánh</th>
                        <th>Tên Chi Nhánh</th>
                        <th>Số Điện Thoại</th>
                        <th>Địa chỉ</th>
                        <th>Tình Trạng</th>
                        <th>Đã Xóa</th>
                        <th>Quản Lý</th>
                    </tr>
                </thead>
                <tbody id="data_chinhanh">

                    @* hien danh sach nha cung cap *@
                </tbody>
            </table>
        </div>
    </div>
</div>

