@{
    ViewBag.Title = "Cập nhật Chi nhánh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 col-xs-12">
        <fieldset class="card-block">
            <form id="form_create" method="post" role="form">

                <div class="text-center">
                    <h3><i class="fa fa-user-plus"></i> Cập Nhật Chi Nhánh</h3>
                    <hr class="mt-2 mb-2">
                </div>

                <p id="error" class="text-danger text-center"></p>

                <br />

                <div class="text-left">
                    <h4>Thông tin chi nhánh</h4>
                    <hr class="mt-2 mb-2">
                </div>

                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-sm-8 col-xs-12">
                            <div class="md-form">
                                <i class="fa fa-id-card-o prefix"></i>
                                <input id="ten" class="form-control" type="text" required="required" placeholder="" />
                                <label for="ten">Tên chi nhánh</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="btn-group">
                                <button id="area" class="btn btn-primary" type="button"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="md-form">
                    <i class="fa fa-mobile-phone prefix"></i>
                    <input id="sdt" class="form-control" type="text" placeholder="" />
                    <label for="sdt">Số Điện thoại</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-map-marker prefix"></i>
                    <input id="diachi" class="form-control" type="text" placeholder="" />
                    <label for="diachi">Địa chỉ</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-rss prefix"></i>
                    <input id="tinhtrang" class="form-control" type="text" placeholder="" />
                    <label for="tinhtrang">Tình trạng</label>
                </div>

                <br />

                <div class="text-left">
                    <h4>Thông tin nhân viên quản lý</h4>
                    <hr class="mt-2 mb-2">
                </div>

                <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a id="selectManager" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h5 class="mb-0">
                                    Chọn quản lý từ nhân viên sẵn có <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-block">
                                <div class="md-form">
                                    <i class="fa fa-user-o prefix"></i>
                                    <input id="ma_nvQL" class="form-control" type="text" placeholder="" />
                                    <label for="ma_nvQL">Mã nhân viên</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h5 class="mb-0">
                                    Thêm nhân viên quản lý mới <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-block">
                                <div class="md-form">
                                    <i class="fa fa-user-o prefix"></i>
                                    <input id="nvQL" class="form-control" type="text" placeholder="" />
                                    <label for="nvQL">Tên nhân viên</label>
                                </div>
                                <div class="md-form">
                                    <i class="fa fa-envelope-o prefix"></i>
                                    <input id="nvEmail" class="form-control" type="text" placeholder="" />
                                    <label for="nvEmail">Email quản lý</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        Lưu <i id="loader" class="fa fa-circle-o-notch fa-pulse fa-lg fa-fw"></i>
                    </button>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Thoát</button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                    <h4 class="modal-title w-100">Thoát</h4>
                                </div>
                                <div class="modal-body text-center">
                                    Bạn thực sự muốn thoát?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                    <a class="btn btn-danger" href="@Url.Action("Index")">Đồng ý</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        // bien toan cuc
        var machinhanh;
        
        $(document).ready(function () {
            //$("fieldset").hide();
            $("#loader").hide();
            $("#back").hide();
            $('#loader1').hide();
            machinhanh = QueryString['machinhanh'];
            $('#area').html(QueryString['machinhanh'].split('CN', 1)[0]);
            //Load chi nhánh lên màn hình
            loadchinhanh();

            $('#form_create').submit(function (e) {
                e.preventDefault();

                var mode = $('#selectManager').attr('aria-expanded');
                var ma_nvQL = $("#ma_nvQL").val();
                var nvQL = $("#nvQL").val();
                var nvEmail = $("#nvEmail").val();
                if (mode == 'true' && ma_nvQL == '') {
                    toastr['error']("Xin nhập mã nhân viên quản lý!");
                    return;
                } else if (mode == 'false' && (nvQL == '' || nvEmail == '')) {
                    toastr['error']("Thông tin quản lý không được để trống!");
                    return;
                }

                // Cập nhật Chi Nhánh
                callAjax('post', {
                    Token: Cookies.get('token'),
                    CN_Data: {
                        machinhanh: machinhanh,
                        tenchinhanh: $("#ten").val(),
                        sodt: $("#sdt").val(),
                        diachi: $("#diachi").val(),
                        tinhtrang: $('#tinhtrang').val()
                    },
                    AreaId: $('#area').html(),
                    QL_Data2: {
                        hoten: nvQL,
                        email: nvEmail
                    },
                    QL_Data1: ma_nvQL,
                    Mode: mode
                }, Cookies.get("area"), "management", "ChiNhanh/update",
                    function (result) {
                        if (result.IsError) {
                            if (result.Errors.length > 0) {
                                toastr["error"](result.Errors[0]);
                            }
                        }
                        else if (result.Data) {
                            toastr["success"](result.Data);
                        }
                    }
                )
            });
        });

        function loadchinhanh() {
            callAjax('post', { Token: Cookies.get('token'), Predicates: [machinhanh] }, Cookies.get("area"), "management", "ChiNhanh/getSingle", function (data) {
                if (!data.Data) { // chi nhánh không tồn tại thì thông báo lỗi và trở về màn hình chính
                    toastr["error"]("Chi Nhánh không tồn tại!");
                    window.location.href = '/Manage/Agency/Index'
                }
                else {// chi nhánh tồn tại thì load dữ liệu lên màn hình
                    $("fieldset").show();
                    $("#ten").val(data.Data.tenchinhanh);
                    $("#sdt").val(data.Data.sodt);
                    $("#diachi").val(data.Data.diachi);
                    $("#tinhtrang").val(data.Data.tinhtrang);
                    $('#ma_nvQL').val(data.Data.quanly);
                }
            });
        };
    </script>
}
