@if (Request.Cookies["token"] != null)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" } , FormMethod.Post, new { id = "form_logoff", @class = "hidden" }))
    {
        @Html.AntiForgeryToken()
    }
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">@HttpUtility.UrlDecode(Request.Cookies["name"].Value)</a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="@Url.Action("ChangePassword", "Account", new { area = "" })"><i class="fa fa-refresh fa-fw"></i> Đổi mật khẩu</a>
            <a class="dropdown-item" href="javascript:document.getElementById('form_logoff').submit()"><i class="fa fa-sign-out fa-fw"></i> Đăng xuất</a>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a href="@Url.Action("Login", "Account", new { area = "" })" id="loginLink" class="nav-link"><i class="fa fa-sign-in"></i> Đăng nhập</a>
    </li>
}
