@{
    ViewBag.Title = "Thống kê tình trạng bò";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        var STATISTIC_KEY = 'AFRGWWJH&#HR#(((UE&G';

        $('.datepicker').pickadate({
            monthsFull: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
            monthsShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
            weekdaysFull: ['Chủ nhật', 'Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7'],
            weekdaysShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],

            showMonthsShort: true,
            showWeekdaysFull: false,

            today: 'Hôm nay',
            clear: '',
            close: 'Đóng',

            labelMonthNext: 'Tháng sau',
            labelMonthPrev: 'Tháng trước',
            labelMonthSelect: 'Chọn tháng',
            labelYearSelect: 'Chọn năm',

            firstDay: 1,
            format: 'dd-mm-yyyy',
            formatSubmit: 'yyyy-mm-dd',
            hiddenPrefix: 'prefix_',

            min: new Date(1752, 0, 1),
            max: new Date(9998, 11, 31)
        });

        $(document).ready(function () {
            //ẩn loader
            $('#loader').hide();

            //auto run statistic
            $('input[name=prefix_bd_submit]').val(new Date($('input[name=prefix_bd_submit]').val()).addDays(-13));
            ThongKeClick();
        });

        var namelabel = new Array();
        var countcolor = 0;
        var valueofchinhanhs = [];
        var cannang = [[]];
        var chieucao = [[]];
        var temp = new Array();

        function clearChart() {
            countcolor = 0;
            namelabel = new Array();
            valueofchinhanhs = [];
            cannang = [[]];
            chieucao = [[]];
            temp = new Array();
        }

        function ThongKeClick(dataSave) {
            clearChart();

            callAjax('post', { Token: Cookies.get('token') }, Cookies.get('area'), "management", "ChiNhanh/getMyAgency", function (data) {
                if (data.IsError) {
                    for (var i = 0; i < data.Errors.length; i++) {
                        toastr["error"](data.Errors[i]);
                    }
                } else if (data.Data) {
                    //prepare agency
                    valueofchinhanhs.push(data.Data);
                    //get statistic-data
                    if (dataSave) {
                        if (dataSave[STATISTIC_KEY]) {
                            LapThongKe(dataSave);
                            dataTK = dataSave;
                        } else {
                            toastr['error']("Không thể đọc file.");
                        }
                    } else {
                        var ngaybatdau = new Date($('input[name=prefix_bd_submit]').val()).addDays(parseInt($('#ngaybatdau').attr('delta-date')));
                        callAjax('post', {
                            Token: Cookies.get('token'),
                            NgayBatDau: ngaybatdau
                        }, Cookies.get('area'), "animal_care", "animalcare/reportTinhTrangBo2", function (data) {
                            if (data.IsError) {
                                toastr["error"](data.Errors[0]);
                                $('#tableReport').attr('hidden', 'hidden');
                                $('#showData').attr('hidden', 'hidden');
                                $('.empty_message').removeAttr('hidden');
                            }
                            else if (data.Data) {
                                data['start_date'] = ngaybatdau;
                                LapThongKe(data);
                                data[STATISTIC_KEY] = true;
                                dataTK = data;
                            }
                        });
                    }
                }
            });
        }

        function LapThongKe(data) {
            $('#tableReport').removeAttr('hidden');
            $('#showData').removeAttr('hidden');
            $('.empty_message').attr('hidden', 'hidden');

            for (var i = 0; i < valueofchinhanhs.length; i++) {
                chieucao[i] = [];
                cannang[i] = [];
                for (var j = 0; j < data.Data.length; j++) {

                    if (valueofchinhanhs[i].machinhanh == data.Data[j].MaChiNhanh) {
                        chieucao[i].push({
                            ChieuCao: data.Data[j].ChieuCao,
                            Ngay: new Date(data.Data[j].Ngay)
                        });
                        cannang[i].push({
                            CanNang: data.Data[j].CanNang,
                            Ngay: new Date(data.Data[j].Ngay)
                        });
                    }
                }
            }
            if (cannang[0]) {
                for (var i = 0; i < cannang[0].length; i++) {
                    namelabel.push(data['start_date'].addDays(i).getDate() + '/' +
                        (data['start_date'].addDays(i).getMonth() + 1) + '/' +
                        data['start_date'].addDays(i).getFullYear());
                }
            }
            createchart(data);
        }

        //chart
        function createchart(data) {
            $('#chuThich_Chart').empty();
            $('#showReport').empty();

            //==================================================
            //==================================================
            //==================================================
            //Tạo biểu đồ (chart)
            var datachartcannang = {
                labels: namelabel,
                datasets: []
            };
            var datachartchieucao = {
                labels: namelabel,
                datasets: []
            };

            //if (valueofchinhanhs) {
                for (var i = 0; i < valueofchinhanhs.length; i++) {
                    var tempcannang = new Array();
                    var tempchieucao = new Array();
                    for (var j = 0; j < namelabel.length; j++) {
                        tempcannang.push(cannang[i][j].CanNang);
                        tempchieucao.push(chieucao[i][j].ChieuCao);
                    }
                    if (countcolor >= colors.length) {
                        countcolor = 0;
                    }

                    datachartcannang.datasets.push({
                        fillColor: "rgba(225,225,225,0)",
                        strokeColor: colors[countcolor].normal,
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#333",
                        pointHighlightFill: "#333",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: tempcannang
                    });
                    datachartchieucao.datasets.push({
                        fillColor: "rgba(225,225,225,0)",
                        strokeColor: colors[countcolor].normal,
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#333",
                        pointHighlightFill: "#333",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: tempchieucao
                    });

                    $('#chuThich_Chart').append(
                            '<div class="offset-1 row"><div style="width:24px; height:24px; background-color:' + colors[countcolor].normal_hex + '"></div>&nbsp;' + valueofchinhanhs[i].tenchinhanh + '</div>'
                        );

                    countcolor++;

                    //==================================================
                    //==================================================
                    //==================================================
                    //Tạo bảng báo cáo (report)
                    $('#showReport').append(
                        '<tr>' +
                            '<td colspan="3">' + valueofchinhanhs[i].tenchinhanh + ' (' + valueofchinhanhs[i].machinhanh + ')</td>' +
                        '</tr>'
                        );
                    for (var j = 0; j < namelabel.length; j++) {
                        $('#showReport').append(
                            '<tr class="text-center align-middle">' +
                                '<td>' + namelabel[j] + '</td>' +
                                '<td>' + cannang[i][j].CanNang.toLocaleString(undefined, { maximumFractionDigits: 2 }) + '</td>' +
                                '<td>' + chieucao[i][j].ChieuCao.toLocaleString(undefined, { maximumFractionDigits: 3 }) + '</td>' +
                            '</tr>'
                            );
                    }
                }
            //}

            var option = {
                responsive: true
            };
            // get the context of the canvas element we want to select
            $('#chart').removeAttr("hidden");

            var ctx = document.getElementById("myChart").getContext('2d');
            ctx.clearRect(0, 0, document.getElementById("myChart").width, document.getElementById("myChart").height);
            var mylinechart = new Chart(ctx).Line(datachartcannang, option); //'line' defines type of the chart.

            var ctx2 = document.getElementById("myChart2").getContext('2d');
            ctx2.clearRect(0, 0, document.getElementById("myChart2").width, document.getElementById("myChart2").height);
            var mylinechart2 = new Chart(ctx2).Line(datachartchieucao, option);

            //==================================================
            //==================================================
            //==================================================
            //Hiển thị dữ liệu
            JSON.printToElement('showData', data);

        }


        Chart.defaults.global = {
            // Boolean - Whether to animate the chart
            animation: true,

            // Number - Number of animation steps
            animationSteps: 60,

            // String - Animation easing effect
            // Possible effects are:
            // [easeInOutQuart, linear, easeOutBounce, easeInBack, easeInOutQuad,
            //  easeOutQuart, easeOutQuad, easeInOutBounce, easeOutSine, easeInOutCubic,
            //  easeInExpo, easeInOutBack, easeInCirc, easeInOutElastic, easeOutBack,
            //  easeInQuad, easeInOutExpo, easeInQuart, easeOutQuint, easeInOutCirc,
            //  easeInSine, easeOutExpo, easeOutCirc, easeOutCubic, easeInQuint,
            //  easeInElastic, easeInOutSine, easeInOutQuint, easeInBounce,
            //  easeOutElastic, easeInCubic]
            animationEasing: "easeOutQuart",

            // Boolean - If we should show the scale at all
            showScale: true,

            // Boolean - If we want to override with a hard coded scale
            scaleOverride: false,

            // ** Required if scaleOverride is true **
            // Number - The number of steps in a hard coded scale
            scaleSteps: null,
            // Number - The value jump in the hard coded scale
            scaleStepWidth: null,
            // Number - The scale starting value
            scaleStartValue: null,

            // String - Colour of the scale line
            scaleLineColor: "rgba(0,0,0,.1)",

            // Number - Pixel width of the scale line
            scaleLineWidth: 1,

            // Boolean - Whether to show labels on the scale
            scaleShowLabels: true,

            // Interpolated JS string - can access value
            scaleLabel: "<%=value%>",

            // Boolean - Whether the scale should stick to integers, not floats even if drawing space is there
            scaleIntegersOnly: true,

            // Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
            scaleBeginAtZero: false,

            // String - Scale label font declaration for the scale label
            scaleFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",

            // Number - Scale label font size in pixels
            scaleFontSize: 12,

            // String - Scale label font weight style
            scaleFontStyle: "normal",

            // String - Scale label font colour
            scaleFontColor: "#666",

            // Boolean - whether or not the chart should be responsive and resize when the browser does.
            responsive: false,

            // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            maintainAspectRatio: true,

            // Boolean - Determines whether to draw tooltips on the canvas or not
            showTooltips: true,

            // Function - Determines whether to execute the customTooltips function instead of drawing the built in tooltips (See [Advanced - External Tooltips](#advanced-usage-custom-tooltips))
            customTooltips: false,

            // Array - Array of string names to attach tooltip events
            tooltipEvents: ["touchstart", "touchmove"],

            // String - Tooltip background colour
            tooltipFillColor: "rgba(0,0,0,0.8)",

            // String - Tooltip label font declaration for the scale label
            tooltipFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",

            // Number - Tooltip label font size in pixels
            tooltipFontSize: 14,

            // String - Tooltip font weight style
            tooltipFontStyle: "normal",

            // String - Tooltip label font colour
            tooltipFontColor: "#fff",

            // String - Tooltip title font declaration for the scale label
            tooltipTitleFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",

            // Number - Tooltip title font size in pixels
            tooltipTitleFontSize: 14,

            // String - Tooltip title font weight style
            tooltipTitleFontStyle: "bold",

            // String - Tooltip title font colour
            tooltipTitleFontColor: "#fff",

            // Number - pixel width of padding around tooltip text
            tooltipYPadding: 6,

            // Number - pixel width of padding around tooltip text
            tooltipXPadding: 6,

            // Number - Size of the caret on the tooltip
            tooltipCaretSize: 8,

            // Number - Pixel radius of the tooltip border
            tooltipCornerRadius: 6,

            // Number - Pixel offset from point x to tooltip edge
            tooltipXOffset: 10,

            // String - Template string for single tooltips
            tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>",

            // String - Template string for multiple tooltips
            multiTooltipTemplate: "<%= value %>",

            // Function - Will fire on animation progression.
            onAnimationProgress: function () { },

            // Function - Will fire on animation completion.
            onAnimationComplete: function () { }
        }

        function leftClick() {
            $('#ngaybatdau').attr('delta-date', parseInt($('#ngaybatdau').attr('delta-date')) - 7);
            ThongKeClick();
        }

        function rightClick() {
            $('#ngaybatdau').attr('delta-date', parseInt($('#ngaybatdau').attr('delta-date')) + 7);
            ThongKeClick();
        }

        function save() {
            if (dataTK) {
                download(JSON.stringify(dataTK), 'Role' + Cookies.get('role') + ' - AnimalState - ' + new Date() + '.json', 'application/json');
            } else {
                toastr['warning']("Cần phải lập báo cáo trước rồi mới lưu được.");
            }
        }

        function load() {
            var files = document.getElementById('fileUpload').files; // FileList object
            if (!files.length) {
                return;
            }

            for (var i = 0; i < files.length; i++) {
                readFileContent(files[i], function (fileContent) {
                    var data = JSON.parse(fileContent);
                    data['start_date'] = new Date(data['start_date']);
                    ThongKeClick(data);
                });
                break; //just one
            }
        }
    </script>

}

<!--==================================================================-->
<!-- Nav tabs -->
<ul class="nav nav-tabs md-pills pills-ins" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#panel11" role="tab"><i class="fa fa-area-chart" aria-hidden="true"></i> Thống kê</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel12" role="tab"><i class="fa fa-list-ol" aria-hidden="true"></i> Báo cáo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel13" role="tab"><i class="fa fa-file-o" aria-hidden="true"></i> Dữ liệu</a>
    </li>
</ul>

<!-- Tab panels -->
<div class="tab-content">

    <!--Panel 1-->
    <div class="tab-pane fade in show active" id="panel11" role="tabpanel">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2><i class="fa fa-bar-chart" aria-hidden="true"></i> Thống kê tình trạng bò</h2>

                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <div class="col-lg-12 col-md-12 col-sm-12 row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="md-form form-sm">
                                    <i class="fa fa-calendar prefix"></i>
                                    <input name="bd" type="text" id="ngaybatdau" class="form-control datepicker" delta-date="0" value="@(DateTime.Now.AddDays(-13).ToShortDateString())">
                                    <label for="ngaybatdau"></label>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" onclick="ThongKeClick()">Thống kê lại</button>
                            <button type="button" class="btn btn-danger" onclick="save()">Lưu</button>
                            <label for="fileUpload" class="btn btn-success custom-file-upload">Tải</label>
                            <input id="fileUpload" type="file" hidden onchange="load()" />
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 row">
                        <div class="col-lg-12 col-md-12 col-sm-12 row">
                            <div class="empty_message col-lg-12 col-md-12 col-sm-12 text-center">
                                <h5>Không có dữ liệu thống kê!</h5>
                                <i id="loader" class="fa fa-circle-o-notch fa-pulse fa-lg fa-fw"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="chart" hidden="hidden">

                    <br />

                    <div class="row" id="chuThich_Chart"></div>

                    <br />

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <canvas id="myChart"></canvas>
                            <h4 class="text-center">Cân nặng trung bình</h4>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <canvas id="myChart2"></canvas>
                            <h4 class="text-center">Chiều cao trung bình</h4>
                        </div>
                    </div>

                    <br />

                    <button type="button" class="btn btn-primary" onclick="leftClick()">Lùi 1 tuần</button>
                    <button type="button" class="btn btn-primary" onclick="rightClick()">Tới 1 tuần</button>
                </div>
            </div>
        </div>

    </div>
    <!--/.Panel 1-->
    <!--Panel 2-->
    <div class="tab-pane fade" id="panel12" role="tabpanel">

        <div class="empty_message text-center">
            <h5>Không có dữ liệu thống kê!</h5>
        </div>
        <table id="tableReport" class="table table-hover fa-border table-striped" hidden="hidden">
            <thead class="table-inverse">
                <tr>
                    <th class="text-center align-middle">Ngày ghi nhận</th>
                    <th class="text-center align-middle">Cân nặng (kg)</th>
                    <th class="text-center align-middle">Chiều cao (m)</th>
                </tr>
            </thead>
            <tbody id="showReport"></tbody>
        </table>

    </div>
    <!--/.Panel 2-->
    <!--Panel 3-->
    <div class="tab-pane fade" id="panel13" role="tabpanel">
        <div class="empty_message text-center">
            <h5>Không có dữ liệu thống kê!</h5>
        </div>
        <div id="showData" hidden="hidden"></div>
    </div>
    <!--/.Panel 3-->

</div>