@{
    ViewBag.Title = "Index3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{

    <script>

        var namelabel = new Array();

        var valueofchinhanhs = [[]];
        var chinhanh;
        var temp = new Array();
        $(document).ready(function () {
            callAjax('post', { Token: Cookies.get('token') }, Cookies.get('area'), "management", "ChiNhanh/getAll", function (data1) {
                for (var i = 0; i < data1.Data.length; i++) {
                    valueofchinhanhs[0].push(data1.Data[i]);
                    valueofchinhanhs.push(new Array());
                    callAjax('post', { Token: Cookies.get('token'), Predicates: [data1.Data[i].machinhanh] }, Cookies.get('area'), "management", "Bo/getAllOfAgencyBy3", function (data2, index) {
                        for (var j = 0; j < data2.Data.length; j++) {
                            temp.push({
                                macn: data1.Data[index].machinhanh,
                                tencn: data1.Data[index].tenchinhanh,
                                mabo: data2.Data[j].mabo
                            });
                        }
                    }, i);
                }
            });

        });



        function ThongKeClick() {

            var DateDiff = {

                inDays: function (d1, d2) {
                    var t2 = d2.getTime();
                    var t1 = d1.getTime();

                    return parseInt((t2 - t1) / (24 * 3600 * 1000));
                },

                inWeeks: function (d1, d2) {
                    var t2 = d2.getTime();
                    var t1 = d1.getTime();

                    return parseInt((t2 - t1) / (24 * 3600 * 1000 * 7));
                },

                inMonths: function (d1, d2) {
                    var d1Y = d1.getFullYear();
                    var d2Y = d2.getFullYear();
                    var d1M = d1.getMonth();
                    var d2M = d2.getMonth();

                    return (d2M + 12 * d2Y) - (d1M + 12 * d1Y);
                },

                inYears: function (d1, d2) {
                    return d2.getFullYear() - d1.getFullYear();
                }
            }

            var ngaybatdau = new Date($('input[name=prefix_bd_submit]').val());
            var ngayketthuc = new Date($('input[name=prefix_kt_submit]').val());
            if (DateDiff.inDays(ngaybatdau, ngayketthuc) <= 14) {
                Date.prototype.addDays = function (days) {
                    var dat = new Date(this.valueOf());
                    dat.setDate(dat.getDate() + days);
                    return dat;
                }
                var listbo_cn;
                var ngaybatdau_temp;
                for (var i = 0; i < valueofchinhanhs[0].length; i++) {
                    listbo_cn = new Array();
                    ngaybatdau_temp = ngaybatdau;
                    for (var j = 0; j < temp.length; j++) {
                        if (temp[j].macn == valueofchinhanhs[0][i].machinhanh) {
                            listbo_cn.push(temp[j]);
                        }
                    }
                    while (ngaybatdau_temp <= ngayketthuc) {
                        //call
                        callAjax('post', {
                            Token: Cookies.get('token'),
                            NgayBatDau: ngaybatdau_temp,
                            NgayKetThuc: ngayketthuc,
                            ListBo: listbo_cn,
                            ThoiGian: "day",
                            Value: 0
                        }, Cookies.get('area'), "animal_care", "animalcare/reportTinhTrangBo", function (dataThongSo, index) {
                            index = index + 1;
                            if (valueofchinhanhs[index] == null) {
                                alert("here");
                                valueofchinhanhs.push([]);
                                valueofchinhanhs[index].push(dataThongSo.Data.CanNang);
                            } else {
                                valueofchinhanhs[index].push(parseFloat(dataThongSo.Data.CanNang));
                            }
                        }, i);
                        ngaybatdau_temp = ngaybatdau_temp.addDays(1);
                    }
                }

                for (var i = 0; i <= DateDiff.inDays(ngaybatdau, ngayketthuc) ; i++) {
                    namelabel.push((ngaybatdau.addDays(i)).getDate() + '/' +
                        ((ngaybatdau.addDays(i)).getMonth() + 1) + '/' +
                        (ngaybatdau.addDays(i)).getFullYear());
                }
                console.log("day");
            }
            else if (DateDiff.inWeeks(ngaybatdau, ngayketthuc) >= 2 && DateDiff.inMonths(ngaybatdau, ngayketthuc) <= 2) {
                console.log("week");
            }
            else if (DateDiff.inMonths(ngaybatdau, ngayketthuc) > 2 && DateDiff.inYears(ngaybatdau, ngayketthuc) <= 1) {
                console.log("month");
            }
            else if (DateDiff.inYears(ngaybatdau, ngayketthuc) > 1 && DateDiff.inYears(ngaybatdau, ngayketthuc) <= 2) {
                console.log("2month");
            }
            else if (DateDiff.inYears(ngaybatdau, ngayketthuc) > 2 && DateDiff.inYears(ngaybatdau, ngayketthuc) <= 10) {
                console.log("1year");
            }
            else if (DateDiff.inYears(ngaybatdau, ngayketthuc) > 10 && DateDiff.inYears(ngaybatdau, ngayketthuc) <= 20) {
                console.log("2year");
            }
            else if (DateDiff.inYears(ngaybatdau, ngayketthuc) > 20 && DateDiff.inYears(ngaybatdau, ngayketthuc) <= 100) {
                console.log("5year");
            }
            else if (DateDiff.inYears(ngaybatdau, ngayketthuc) > 100) {
                console.log("10year");
            }

            createchart();
        }

    </script>
    <script>
        $('.datepicker').pickadate({
            monthsFull: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
            monthsShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
            weekdaysFull: ['Chủ nhật', 'Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7'],
            weekdaysShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],

            showMonthsShort: true,
            showWeekdaysFull: false,

            today: 'Hôm nay',
            clear: '',
            close: 'Đóng',

            labelMonthNext: 'Tháng sau',
            labelMonthPrev: 'Tháng trước',
            labelMonthSelect: 'Chọn tháng',
            labelYearSelect: 'Chọn năm',

            firstDay: 1,
            format: 'dd-mm-yyyy',
            formatSubmit: 'yyyy-mm-dd',
            hiddenPrefix: 'prefix_',

            min: new Date(1752, 0, 1),
            max: new Date(9998, 11, 31)
        });
    </script>
    <script>
//chart
        function createchart() {
            var datachart = {
                labels: namelabel,
                datasets: []
            };


            for (var i = 0; i < valueofchinhanhs[0].length; i++) {
                if (valueofchinhanhs[i + 1] == null) {
                    alert("loi roi");
                } else {
                    console.log(valueofchinhanhs[i + 1]);
                    console.log(valueofchinhanhs[i + 1].length);
                    var datatemp = []
                    for (var j = 0; j < valueofchinhanhs[i + 1].length; j++) {
                        console.log(valueofchinhanhs[i + 1][j]);
                        datatemp.push(valueofchinhanhs[i + 1][j]);
                    }
                    console.log(datatemp);
                    datachart.datasets.push({
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: datatemp
                    });
                }
            }

            var data = {
                labels: namelabel,
                datasets: [
                    {
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [65, 59, 80, 81, 56, 55, 40]
                    },
                    {
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data: [28, 48, 40, 19, 86, 27, 90]
                    }
                ]
            };
            data.datasets.push({
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: [23, 17, 45, 69, 26, 30, 90]
            });
            var option = {
                responsive: true,
            };

            // Get the context of the canvas element we want to select
            var ctx = document.getElementById("myChart").getContext('2d');
            var myLineChart = new Chart(ctx).Line(data, option); //'Line' defines type of the chart.

            var ctx2 = document.getElementById("myChart2").getContext('2d');
            var myLineChart2 = new Chart(ctx2).Line(datachart, option);
        }
    </script>

}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2><i class="fa fa-bar-chart" aria-hidden="true"></i> Báo cáo tình trạng bò</h2>

        <div class="row">
            <table class="table table-hover fa-border" style="width:400px">
                <tbody>
                    <tr>
                        <td>Từ ngày</td>
                        <td>
                            <div class="md-form form-sm">
                                <i class="fa fa-calendar prefix"></i>
                                <input name="bd" type="text" id="ngaybatdau" class="form-control datepicker" data-value="@(DateTime.Now.ToShortDateString())">
                                <label for="ngaykethuc"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Đến ngày</td>
                        <td>
                            <div class="md-form form-sm">
                                <i class="fa fa-calendar prefix"></i>
                                <input name="kt" type="text" id="ngayketthuc" class="form-control datepicker" data-value="@(DateTime.Now.ToShortDateString())">
                                <label for="ngaykethuc"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-primary" onclick="ThongKeClick()">Thống kê</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="a" hidden="hidden" style="width:450px"><canvas class="align-middle" id="circlechart"></canvas></div>
            <table id="b" hidden="hidden">
                <tbody id="chuThich_CircleChart"></tbody>
            </table>
        </div>

        <div id="notice" hidden="hidden">
            <h5>Không có dữ liệu để thống kê!</h5>
        </div>



        <div class="row" id="property" hidden="hidden">
            <div class="offset-1 row"><div class="blue lighten-4" style="width:24px; height:24px;"></div>&nbsp;Số bò lý thuyết</div>
            <div class="offset-1 row"><div class="light-green lighten-3" style="width:24px; height:24px;"></div>&nbsp;Số bò thực tế</div>
            <div class="offset-1 row"><div class="rgba-indigo-strong" style="width:24px; height:24px;"></div>&nbsp;Sức chứa tối đa</div>
        </div>
    </div>
</div>
<canvas id="myChart"></canvas>
<canvas id="myChart2"></canvas>

