USE [master]
GO
/****** Object:  Database [Service_Login]    Script Date: 5/5/2017 9:54:40 PM ******/
CREATE DATABASE [Service_Login]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Service_Login', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS_2012\MSSQL\DATA\Service_Login.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Service_Login_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS_2012\MSSQL\DATA\Service_Login_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Service_Login].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Service_Login]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 5/5/2017 9:54:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[TenTaiKhoan] [varchar](100) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[CapPQ] [int] NOT NULL,
	[Email] [varchar](100) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [TenTaiKhoan], [MatKhau], [CapPQ], [Email]) VALUES (N'testGD', N'Giám đốc', N'giamdoc', N'WVs&$^OEWTMO$IFR&$OIFO#$JFK4MRFI*$UT', 3, NULL)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [TenTaiKhoan], [MatKhau], [CapPQ], [Email]) VALUES (N'testNV', N'Nhân viên', N'nhanvien', N'WVs&$^OEWTMO$IFR&$OIFO#$JFK4MRFI*$UT', 1, NULL)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [TenTaiKhoan], [MatKhau], [CapPQ], [Email]) VALUES (N'testQL', N'Quản lý', N'quanly', N'WVs&$^OEWTMO$IFR&$OIFO#$JFK4MRFI*$UT', 2, NULL)
SET ANSI_PADDING ON

GO
/****** Object:  Index [TenTaiKhoan_Unique]    Script Date: 5/5/2017 9:54:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [TenTaiKhoan_Unique] ON [dbo].[NhanVien]
(
	[TenTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
