@{
    ViewBag.Title = "Danh sách bò";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><i class="fa fa-list"></i> Danh sách bò trang trại</h2>
@*<a class="blue-text" href="/Manage/Cow/Add"><i class="fa fa-arrow-down" aria-hidden="true"></i> Ghi nhận bò nhập</a>*@
<p>
    <a class="btn btn-primary" href="@Url.Action("Add")">Ghi nhận bò nhập</a>
</p>
<p class="text-center" id="empty_message" hidden>Bạn chưa có bò nào.</p>
<table id="tableData" class="table table-hover">
    <thead class="thead-inverse">
        <tr>
            <th>Mã bò (chip theo dõi)</th>
            <th>Màu sắc</th>
            <th>Nhận dạng</th>
            <th>Dị tật</th>
            <th>Tình trạng</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbCows"></tbody>
</table>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title w-100">Xóa bò</h4>
            </div>
            <div class="modal-body text-center">
                Bạn có muốn tiếp tục?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button id="deleteModal_btnYes" type="button" class="btn btn-danger" data-dismiss="modal">Tiếp</button>
            </div>
        </div>
    </div>
</div>
<p class="text-center" id="loader"><i class="fa fa-circle-o-notch fa-pulse fa-lg fa-fw"></i></p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var cows = {};
        var barns = [];

        $(document).ready(function () {
            loadTable();
        });

        function loadTable() {
            callAjax('post',
                    { Token: Cookies.get("token") },
                    Cookies.get("area"), "management", "Bo/getAllOfAgency",
                    function (data) {
                        if (data.IsError) {
                            toastr["error"](data.Errors[0]);
                            $("#error").show();
                            $("#error").text(data.Errors[0]);
                        }
                        else {
                            if (data.Data && data.Data.length > 0) {
                                $("#empty_message").hide();
                                cows = {};
                                barns = [];
                                for (var i = 0; i < data.Data.length; i++) {
                                    var item = data.Data[i];
                                    var key = item.tenchuong + '(' + item.machuong + ')';
                                    if (barns.indexOf(key) < 0)
                                        barns.push(key);
                                    if (!cows[key])
                                        cows[key] = [];
                                    cows[key].push(item);
                                }
                                //=========================
                                $('#tbCows').html('');
                                for (var j = 0; j < barns.length; j++) {
                                    $('#tbCows').append(
                                            '<tr>' +
                                                '<td>' + barns[j] + '</td>' +
                                                '<td></td>' +
                                                '<td></td>' +
                                                '<td></td>' +
                                                '<td></td>' +
                                                '<td></td>' +
                                            '</tr>'
                                            );
                                    for (var i = 0; i < cows[barns[j]].length; i++) {
                                        var item = cows[barns[j]][i];

                                        var trType;
                                        if (item.daxoa) {
                                            trType = '<tr class="table-danger">';
                                        } else {
                                            trType = '<tr class="table-success">';
                                        }

                                        var td4;
                                        if (item.coditat) {
                                            td4 = '<td><i class="fa fa-check" aria-hidden="true"></i></td>';
                                        }
                                        else {
                                            td4 = '<td></td>';
                                        }

                                        var deleteButton;
                                        var editButton;
                                        if (item.daxoa) {
                                            deleteButton = '<a class="green-text" data-toggle="modal" data-target="#deleteModal" onclick="setupModal(\'recover\', \'' + item.mabo + '\', true)"><i class="fa fa-refresh" aria-hidden="true"></i></a>';
                                            editButton = '';
                                        }
                                        else {
                                            deleteButton = '<a class="red-text" data-toggle="modal" data-target="#deleteModal" onclick="setupModal(\'delete\', \'' + item.mabo + '\', true)"><i class="fa fa-trash" aria-hidden="true"></i></a>';
                                            editButton = '<a class="teal-text" href="/Manage/Cow/Edit?id=' + item.mabo + '&chip=' + item.machip + '&color=' + item.mausac + '&hasD=' + item.coditat + '&spe=' + item.nhandang + '&barn=' + item.machuong + '&sta=' + item.tinhtrang + '"><i class="fa fa-pencil"></i></a>';
                                        }

                                        $('#tbCows').append(
                                            trType +
                                                '<td>' + item.mabo + ' (' + item.machip + ')</td>' +
                                                '<td>' + item.mausac + '</td>' +
                                                '<td>' + item.nhandang + '</td>' +
                                                td4 +
                                                '<td>' + item.tinhtrang + '</td>' +
                                                '<td>' +
                                                    editButton +
                                                    deleteButton +
                                                '</td>' +
                                            '</tr>'
                                            );
                                    }
                                }
                                //=========================
                            } else {
                                $("#tableData").hide();
                            }
                        }
                    }
                );
        }

        function setupModal(str, id, cond) {
            $('#deleteModal_btnYes').attr('onclick', 'modalAction(\'' + str + '\', \'' + id + '\', ' + cond + ')');
        }
        function modalAction(str, id, cond) {
            if (cond) {
                callAjax('post', { Token: Cookies.get("token"), Predicates: [id] }, Cookies.get("area"), "management", "Bo/" + str,
                    function (result) {
                        if (result.IsError) {
                            if (result.Errors.length > 0) {
                                toastr["error"](result.Errors[0]);
                            }
                        }
                        else {
                            toastr["success"](result.Data);
                            loadTable();
                        }
                    }
                )
            }
        };
    </script>
}