@{
    ViewBag.Title = "Cập nhật Nhà Cung Cấp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 col-xs-12">
        <fieldset class="card-block">
            <form id="form_update" method="post" role="form">
                <div class="text-center">
                    <h3><i class="fa fa-pencil-square-o"></i> Cập nhật Nhà Cung Cấp</h3>
                    <hr class="mt-2 mb-2">
                </div>
                <p id="error" class="text-danger text-center"></p>
                <div class="md-form">
                    <i class="fa fa-id-card-o prefix"></i>
                    <input id="ten" class="form-control" type="text" placeholder="" required="required" />
                    <label id="tenerror" for="ten">Tên</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-map-marker prefix"></i>
                    <input id="diachi" class="form-control" type="text" placeholder="" />
                    <label for="diachi">Địa chỉ</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-comment-o prefix"></i>
                    <input id="tinhtrang" class="form-control" type="text" placeholder="" />
                    <label for="tinhtrang">Tình trạng</label>
                </div>
                <input type="hidden" id="manv" />
                <input type="hidden" id="daxoa" />
                @*<input type="hidden" id="macn" />*@
                @*<input type="hidden" id="mapq" />*@
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        Lưu <i id="loader" class="fa fa-circle-o-notch fa-pulse fa-lg fa-fw"></i>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="modalAction" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                    <h4 class="modal-title w-100">Xác nhận</h4>
                                </div>
                                <div class="modal-body text-center">
                                    Bạn thực sự muốn thực hiện?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                    <button class="btn btn-danger" id="action">Đồng ý</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Thoát</button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                    <h4 class="modal-title w-100">Thoát</h4>
                                </div>
                                <div class="modal-body text-center">
                                    Bạn thực sự muốn thoát?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                    <a class="btn btn-danger" href="@Url.Action("Index")">Đồng ý</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
        <p class="text-center">
            <i id="loader1" class="fa fa-circle-o-notch fa-pulse fa-2x"></i>
            <a id="back" class="btn btn-danger" href="@Url.Action("Index")">Trở về trang quản lý</a>
        </p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("fieldset").hide();
            $("#loader").hide();
            $("#back").hide();
            var manhacungcap = QueryString['manhacungcap'];
            callAjax('post', { Predicates: [manhacungcap] }, "hcm", "management", "NhaCungCap/getSingle", function (data) {
                $('#loader1').hide();
                if (data.Data == null) {
                    toastr["error"]("Nhà Cung Cấp không tồn tại!");
                    //alert("Lỗi Hệ Thống");
                    window.location.href = 'http://localhost:8082/Manage/Provider'
                }
                else {
                    $("fieldset").show();
                    $("#ten").val(data.Data.ten);
                    $("#diachi").val(data.Data.diachi);
                    $("#tinhtrang").val(data.Data.tinhtrang);
                    //var ten = document.getElementById('ten');
                    //ten.value = data.Data.ten;
                    //var diachi = document.getElementById('diachi');
                    //diachi.value = data.Data.diachi;
                    //var tinhtrang = document.getElementById('tinhtrang');
                    //tinhtrang.value = data.Data.tinhtrang;
                }
            });

            $('#form_update').submit(function (e) {
                e.preventDefault();

                var diachi = $("#diachi").val();
                if (diachi == "") { diachi = " "; }

                var tinhtrang = $("#tinhtrang").val();
                if (tinhtrang == "") { tinhtrang = " "; }

                callAjax('post', {
                    Data: {
                        manhacungcap: manhacungcap,
                        ten: $("#ten").val(),
                        diachi: diachi,
                        tinhtrang: tinhtrang
                    }
                }, "hcm", "management", "NhaCungCap/update",
                    function (result) {
                        if (result.IsError) {
                            if (result.NameErrors.length > 0) {
                                $("#ten").addClass("validate invalid");
                                $("#tenerror").addClass("active");
                                $("#tenerror").attr("data-error", result.NameErrors[0]);
                            }
                            if (result.Errors.length > 0) {
                                toastr["error"](result.Errors[0]);
                            }
                        }
                        else {
                            Data = null;
                            toastr["success"](result.Data);
                            $('#form_update')[0].reset();
                            window.location.href = 'http://localhost:8082/Manage/Provider'
                        }
                    }
                )
            });

        });
    </script>
}
