@{
    ViewBag.Title = "Quên mật khẩu";
}
<div class="row">
    <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 col-xs-12 mt-2">
        <fieldset class="card">
            <form method="post" class="card-block" role="form" id="form_forgot">
                <div class="form-header bg-primary">
                    <h3><i class="fa fa-unlock"></i> Quên mật khẩu</h3>
                </div>
                <p id="error" class="text-danger text-center"></p>
                <div class="md-form">
                    <i class="fa fa-server prefix"></i>
                    <select id="area" class="mdb-select colorful-select dropdown-primary">
                        <option value="hcm">Hồ Chí Minh</option>
                        <option value="hn">Hà Nội</option>
                    </select>
                    <label>Server</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input id="email" class="form-control" type="email" name="email" />
                    <label for="email">Email</label>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        Gửi <i id="loader" class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
                    </button>
                </div>
            </form>
        </fieldset>

        <div class="card">
            <div class="card-block">
                <div class="form-header bg-primary">
                    <h3><i class="fa fa-unlock"></i> Quên mật khẩu</h3>
                </div>
                <p id="success" class="text-success text-center"></p>
                <div class="text-center">
                    <div class="options">
                        <p>@Html.ActionLink("Trở về trang chủ", "Index", "Home")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('.mdb-select').material_select();
        $('#loader').hide();
        $("div.card").hide();

        $('#form_forgot').submit(function (e) {
            e.preventDefault();
            callAjax('post',
                { Email: $('#email').val(), Area: $('#area').val() },
                $('#area').val(), "login", "account/forget",
                function (data) {
                    if (data.IsError) {
                        toastr["error"](data.Errors[0]);
                        $("#error").show();
                        $("#error").text(data.Errors[0]);
                    }
                    else {
                        Cookies.set("area", $('#area').val())
                        $("fieldset.card").hide();
                        $("div.card").show();
                        toastr["success"](data.Data);
                        $("#success").show();
                        $("#success").text(data.Data);

                        //toastr["success"](data.Data);
                        //$("#success").show();
                        //$("#success").text("Vui lòng kiểm tra email để khôi phục mật khẩu!");
                    }
                }
            );
        });
    </script>
}
