@{
    ViewBag.Title = "Đăng nhập";
}
<div class="row">
    <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 col-xs-12 mt-2">
        <div class="card" id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "card-block", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-header bg-primary">
                    <h3><i class="fa fa-sign-in"></i> Đăng nhập</h3>
                </div>
                @Html.ValidationSummary(true, "", new { @id = "error", @class = "text-danger text-center" })
                <p id="error" class="text-danger text-center"></p>
                <div class="md-form">
                    <i class="fa fa-server prefix"></i>
                    <select class="mdb-select colorful-select dropdown-primary">
                        <option value="1">Miền Bắc</option>
                        <option value="2">Miền Trung</option>
                        <option value="3">Miền Nam</option>
                    </select>
                    <label>Server</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input id="username" class="form-control" type="text" name="username" />
                    <label for="username">Username</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input id="password" class="form-control" type="password" name="password" />
                    <label for="password">Password</label>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-primary" id="btn_login">
                        Đăng nhập <i id="loader" class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
                    </button>
                </div>
            }
            <div class="modal-footer">
                <div class="options">
                    <p>@Html.ActionLink("Quên mật khẩu?", "ForgotPassword")</p>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('.mdb-select').material_select();
            $('#loader').hide();
            $('#btn_login').click(function () {
                $.ajax({
                    type: 'post',
                    dataType: 'json',
                    data: { Username: $('#username').val(), Password: $('#password').val() },
                    url: 'http://192.168.22.140:28288/account/login',
                    beforeSend: function () {
                        $('#loader').show();
                    },
                    complete: function () {
                        $('#loader').hide();
                    },
                    success: function (data) {
                        if (data.IsError) {
                            $("#error").show();
                            $("#error").text(data.Errors[0]);
                        }
                        else {
                            Cookies.set("role", data._PhanQuyen.CapPQ);
                            Cookies.set("manv", data.MaNV);
                            location.href = "/Home/Index";
                        }
                    },
                    error: function (data) {
                        
                    }
                });
            });
        });
    </script>
}