@{
    ViewBag.Title = "Khôi phục mật khẩu";
}
<div class="row">
    <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 col-xs-12 mt-2">
        <fieldset class="card">
            <form id="form_changepass" class="card-block" method="post" role="form">
                <div class="form-header bg-primary">
                    <h3><i class="fa fa-refresh"></i> Khôi phục mật khẩu</h3>
                </div>
                <p id="error" class="text-danger text-center"></p>
                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input id="newpass" class="form-control" type="password" />
                    <label id="newpass_error" for="newpass">Mật khẩu mới</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input id="repass" class="form-control validate" type="password" />
                    <label id="repass_error" for="repass">Nhập lại mật khẩu</label>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        Gửi <i id="loader" class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
                    </button>
                </div>
            </form>
        </fieldset>

        <div class="card">
            <div class="card-block">
                <div class="form-header bg-primary">
                    <h3><i class="fa fa-refresh"></i> Khôi phục mật khẩu</h3>
                </div>
                <p id="success" class="text-success text-center"></p>
                <div class="text-center">
                    <div class="options">
                        <p>@Html.ActionLink("Đăng nhập", "Login", "Account")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#loader').hide();
            $("div.card").hide();

            $("#repass").blur(function () {
                if ($("#repass").val() != "") {
                    if ($("#newpass").val() != $("#repass").val()) {
                        $("#repass").removeClass("valid").addClass("invalid");
                        $("#repass_error").attr("data-error", "Mật khẩu không khớp");
                    }
                    else {
                        $("#repass").removeClass("invalid").addClass("valid");
                        $("#repass_error").removeAttr("data-error");
                    }
                }
                else {
                    $("#repass").removeClass("valid");
                    $("#repass").removeClass("invalid");
                }
            });

            $("#form_changepass").submit(function (e) {
                e.preventDefault();
                callAjax('post',
                    { Token: "@ViewBag.Token", NewPassword: $('#newpass').val() },
                    Cookies.get("area"), "login", "account/cfpass",
                    function (data) {
                        if (data.IsError) {
                            toastr["error"](data.Errors[0]);
                            $("#error").show();
                            $("#error").text(data.Errors[0]);
                        }
                        else {
                            $("fieldset.card").hide();
                            $("div.card").show();
                            toastr["success"](data.Data);
                            $("#success").show();
                            $("#success").text(data.Data);
                        }
                    }
                );
            });
        });
    </script>
}