
@{
    ViewBag.Title = "Phiếu Nhập Bò";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><i class="fa fa-list"></i> Danh sách phiếu nhập bò</h2>
<p>
    <a class="btn btn-primary" href="@Url.Action("Import")">Nhập thêm</a>
</p>
<p class="text-center" id="empty_message">Chưa có chi nhánh nào.</p>
<table class="table table-hover">
    <thead class="thead-inverse">
        <tr>
            <th>Mã phiếu</th>
            <th>Ngày lập</th>
            <th>Ngày nhập</th>
            <th>Số lượng</th>
            <th>Nhà cung cấp</th>
            <th>Chi nhánh</th>
            <th>Người lập</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbBillIndex"></tbody>
</table>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title w-100">Hủy phiếu nhập</h4>
            </div>
            <div class="modal-body text-center">
                Bạn có muốn tiếp tục?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button id="deleteModal_btnYes" type="button" class="btn btn-danger" data-dismiss="modal">Tiếp</button>
            </div>
        </div>
    </div>
</div>
<p class="text-center" id="loader"><i class="fa fa-circle-o-notch fa-pulse fa-lg fa-fw"></i></p>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            loadTable();
        });

        function loadTable() {
            callAjax('post',
                { Token: Cookies.get("token") },
                Cookies.get("area"), "import_export", "PhieuNhapBo/getAll",
                function (data) {
                    if (data.IsError) {
                        toastr["error"](data.Errors[0]);
                        $("error").show();
                        $("error").text(data.Errors[0]);
                    }
                    else {
                        if (data.Data && data.Data.length > 0) {
                            $("#empty_message").hide();
                            $('#tbBillIndex').empty();
                            for (var i = 0; i < data.Data.length; i++) {

                                var trType;
                                var deleteButton;
                                var editButton;
                                if (data.Data[i].daxoa) {
                                    trType = '<tr class="table-danger">';
                                    deleteButton = '<a class="green-text" data-toggle="modal" data-target="#deleteModal" onclick="setupModal(\'recover\', \'' + data.Data[i].machungtu + '\', true)"><i class="fa fa-refresh" aria-hidden="true"></i></a>';
                                    editButton = '';
                                }
                                else {
                                    trType = '<tr class="table-success">';
                                    deleteButton = '<a class="red-text" data-toggle="modal" data-target="#deleteModal" onclick="setupModal(\'delete\', \'' + data.Data[i].machungtu + '\', ' + (new Date(data.Data[i].ngaynhap).getTime() > new Date().getTime()) + ')"><i class="fa fa-trash" aria-hidden="true"></i></a>';
                                    editButton = '<a class="teal-text" href="/Manage/Import/Edit/' + data.Data[i].machungtu + '"><i class="fa fa-pencil"></i></a>';
                                }

                                $('#tbBillIndex').append(
                                    trType +
                                        '<td>' + data.Data[i].machungtu + '</td>' +
                                        '<td>' + data.Data[i].ngaylap + '</td>' +
                                        '<td>' + data.Data[i].ngaynhap + '</td>' +
                                        '<td>' + data.Data[i].soluong + '</td>' +
                                        '<td class="' + data.Data[i].mancc + '"></td>' +
                                        '<td class="' + data.Data[i].macn + '"></td>' +
                                        '<td class="' + data.Data[i].manv + '"></td>' +
                                        '<td>' + editButton + deleteButton + '</td>' +
                                    '</tr>'
                                );

                                // lay tên người nhập
                                callAjax('post', { Token: Cookies.get("token"), UserId: data.Data[i].manv }, Cookies.get("area"), "management", "NhanVien/getbyDirector",
                                    function (result, id) {
                                        if (!result.Error && result.Data)
                                            $('.' + id).html(result.Data.hoten);
                                    }, data.Data[i].manv
                                )

                                // lay tên nhà cung cấp
                                callAjax('post', { Token: Cookies.get("token"), Predicates: [data.Data[i].mancc] }, Cookies.get("area"), "management", "NhaCungCap/getSingle",
                                    function (result, id) {
                                        if (!result.Error && result.Data)
                                            $('.' + id).html(result.Data.ten);
                                    }, data.Data[i].mancc
                                )

                                // lay tên chi nhánh nhập
                                callAjax('post', { Token: Cookies.get("token"), Predicates: [data.Data[i].macn] }, Cookies.get("area"), "management", "ChiNhanh/getSingle",
                                    function (result, id) {
                                        if (!result.Error && result.Data)
                                            $('.' + id).html(result.Data.tenchinhanh);
                                    }, data.Data[i].macn
                                )
                            }
                        } else {
                            $("#dataTable").hide();
                        }
                    }
                });
        }


        function setupModal(str, id, cond) {
            $('#deleteModal_btnYes').attr('onclick', 'modalAction(\'' + str + '\', \'' + id + '\', ' + cond + ')');
        }

        function modalAction(str, id, cond) {
            if (cond) {
                callAjax('post', { Token: Cookies.get("token"), machungtu: id }, Cookies.get("area"), "import_export", "PhieuNhapBo/" + str,
                    function (result) {
                        if (result.IsError) {
                            if (result.Errors.length > 0) {
                                toastr["error"](result.Errors[0]);
                            }
                        }
                        else {
                            toastr["success"](result.Data);
                            loadTable();
                        }
                    }
                )
            } else {
                toastr['error']("Bò đã nhận miễn trả lại.");
            }
        };
    </script>
}