@{
    ViewBag.Title = "Quản lý nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2><i class="fa fa-list"></i> Danh sách nhân viên</h2>
<p id="addStaff1">
    <a class="btn btn-primary" href="@Url.Action("Create")">Thêm nhân viên</a>
    <a class="btn btn-success" href="@Url.Action("Index", "Assignment")">Phân công</a>
</p>
<p class="text-center" id="addStaff2">Bạn chưa có nhân viên nào, bấm vào @Html.ActionLink("đây", "Create") để thêm nhân viên.</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Mã NV</th>
            <th>Họ tên</th>
            <th>Email (tên tài khoản)</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<p class="text-center" id="loader"><i class="fa fa-circle-o-notch fa-pulse fa-lg fa-fw"></i></p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#addStaff2").hide();
            callAjax('post', { Token: Cookies.get("token") }, Cookies.get("area"), "management", "NhanVien/getAll",
                function (result) {
                    if (result.IsError) {
                        toastr["error"](result.Errors[0]);
                        $("#error").show();
                        $("#error").text(result.Errors[0]);
                    }
                    else {
                        if (result.Data.length > 0) {
                            for (var i = 0; i < result.Data.length; i++) {
                                var danghi = "";
                                if (result.Data[i].daxoa == true) { danghi = "Đã nghỉ"; }

                                var html = "<tr>"
                                            + "<td>" + result.Data[i].manhanvien + "</td>"
                                            + "<td>" + result.Data[i].hoten + "</td>"
                                            + "<td>" + result.Data[i].email + "</td>"
                                            + "<td>" + danghi + "</td>"
                                            + "<td><a href='/Manage/Staff/Edit/" + result.Data[i].manhanvien + "'>Cập nhật</a></td>"
                                            + "<td><a href='/Manage/Assignment/Create?id=" + result.Data[i].manhanvien + "'>Phân công</a></td>"
                                        + "</tr>";
                                $("tbody").append(html);
                            }
                        }
                        else {
                            $("#addStaff1").hide();
                            $("#addStaff2").show();
                        }
                    }
                });
        });
    </script>
}