@{
    ViewBag.Title = "Quản lý nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2><i class="fa fa-list"></i> Danh sách nhân viên</h2>
<p>
    <a class="btn btn-primary" href="@Url.Action("Create")">Thêm nhân viên</a>
    <a class="btn btn-success" href="@Url.Action("Index", "Assignment")">Phân công</a>
</p>
<p class="text-center" id="empty_message">Bạn chưa có nhân viên nào.</p>
<table id="tableData" class="table table-hover">
    <thead class="thead-inverse">
        <tr>
            <th>Mã NV</th>
            <th>Họ tên</th>
            <th>Email (tên tài khoản)</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody"></tbody>
</table>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title w-100">Thoát</h4>
            </div>
            <div class="modal-body text-center">
                Bạn có muốn tiếp tục?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button id="deleteModal_btnYes" type="button" class="btn btn-danger" data-dismiss="modal">Tiếp</button>
            </div>
        </div>
    </div>
</div>
<p class="text-center" id="loader"><i class="fa fa-circle-o-notch fa-pulse fa-lg fa-fw"></i></p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            loadTable();
        });

        function loadTable() {
            callAjax('post', { Token: Cookies.get("token") }, Cookies.get("area"), "management", "NhanVien/getAll",
                function (result) {
                    if (result.IsError) {
                        toastr["error"](result.Errors[0]);
                        $("#error").show();
                        $("#error").text(result.Errors[0]);
                    }
                    else {
                        if (result.Data && result.Data.length > 0) {
                            $("#empty_message").hide();
                            $('#tableBody').html('');
                            for (var i = 0; i < result.Data.length; i++) {
                                var danghi = "";
                                var trType;
                                if (result.Data[i].daxoa == true) {
                                    danghi = "Đã nghỉ";
                                    trType = '<tr class="table-danger">';
                                } else {
                                    trType = '<tr class="table-success">';
                                }

                                var deleteButton;
                                var editButton;
                                if (result.Data[i].daxoa) {
                                    deleteButton = '<a class="red-text" data-toggle="modal" data-target="#deleteModal" onclick="setupModal(\'recover\', \'' + result.Data[i].manhanvien + '\', true)"><i class="fa fa-refresh" aria-hidden="true"></i></a>';
                                    editButton = '';
                                }
                                else {
                                    deleteButton = '<a class="red-text" data-toggle="modal" data-target="#deleteModal" onclick="setupModal(\'delete\', \'' + result.Data[i].manhanvien + '\', true)"><i class="fa fa-times"></i></a>';
                                    editButton = '<a class="teal-text" href="/Manage/Staff/Edit/' + result.Data[i].manhanvien + '"><i class="fa fa-pencil"></i></a>' +
                                                    '<a class="teal-text" href="/Manage/Assignment/Create?id=' + result.Data[i].manhanvien + '"><i class="fa fa-bookmark" aria-hidden="true"></i></a>';
                                }

                                var html = trType
                                            + "<td>" + result.Data[i].manhanvien + "</td>"
                                            + "<td>" + result.Data[i].hoten + "</td>"
                                            + "<td>" + result.Data[i].email + "</td>"
                                            + "<td>" + danghi + "</td>"
                                            //+ "<td><a href='/Manage/Staff/Edit/" + result.Data[i].manhanvien + "'>Cập nhật</a></td>"
                                            //+ "<td><a href='/Manage/Assignment/Create?id=" + result.Data[i].manhanvien + "'>Phân công</a></td>"
                                            + '<td>' +
                                                editButton +
                                                deleteButton +
                                            '</td>'
                                        + "</tr>";
                                $("tbody").append(html);
                            }
                        } else {
                            $("#tableData").hide();
                        }
                    }
                });
        }



        function setupModal(str, id, cond) {
            $('#deleteModal_btnYes').attr('onclick', 'modalAction(\'' + str + '\', \'' + id + '\', ' + cond + ')');
        }
        function modalAction(str, id, cond) {
            if (cond) {
                callAjax('post', { Token: Cookies.get("token"), UserId: id }, Cookies.get("area"), "management", "NhanVien/" + str,
                    function (result) {
                        if (result.IsError) {
                            if (result.Errors.length > 0) {
                                toastr["error"](result.Errors[0]);
                            }
                        }
                        else {
                            toastr["success"](result.Data);
                            loadTable();
                        }
                    }
                )
            }
        };
    </script>
}