USE [master]
GO
/****** Object:  Database [Service_Report]    Script Date: 5/29/2017 11:10:40 AM ******/
CREATE DATABASE [Service_Report]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Service_Report', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS_2012\MSSQL\DATA\Service_Report.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Service_Report_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS_2012\MSSQL\DATA\Service_Report_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Service_Report].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Service_Report]
GO
/****** Object:  Table [dbo].[BaoCaoTinhTrangBo]    Script Date: 5/29/2017 11:10:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BaoCaoTinhTrangBo](
	[MaBaoCao] [varchar](50) NOT NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[NgayLap] [date] NULL,
	[TongSoBo] [int] NULL,
	[SoBoBenh] [int] NULL,
 CONSTRAINT [PK_BaoCaoTinhTrangBo] PRIMARY KEY CLUSTERED 
(
	[MaBaoCao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BaoCaoXuat]    Script Date: 5/29/2017 11:10:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BaoCaoXuat](
	[MaBaoCao] [varchar](50) NOT NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[NgayLap] [date] NULL,
	[TongLuongSua] [real] NULL,
 CONSTRAINT [PK_BaoCaoXuat] PRIMARY KEY CLUSTERED 
(
	[MaBaoCao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTBaoCaoTinhTrangBo]    Script Date: 5/29/2017 11:10:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTBaoCaoTinhTrangBo](
	[MaBaoCao] [varchar](10) NOT NULL,
	[MaBo] [varchar](10) NOT NULL,
	[TinhTrangBo] [nvarchar](50) NULL,
 CONSTRAINT [PK_CTBaoCaoTinhTrangBo] PRIMARY KEY CLUSTERED 
(
	[MaBaoCao] ASC,
	[MaBo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTBaoCaoXuat]    Script Date: 5/29/2017 11:10:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTBaoCaoXuat](
	[MaBaoCao] [varchar](50) NOT NULL,
	[MaKho] [varchar](50) NOT NULL,
	[LuongSuaXuat] [real] NULL,
 CONSTRAINT [PK_CTBaoCaoXuat] PRIMARY KEY CLUSTERED 
(
	[MaBaoCao] ASC,
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
