USE [master]
GO
/****** Object:  Database [Service_Login]    Script Date: 6/2/2017 6:46:26 PM ******/
CREATE DATABASE [Service_Login]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Service_Login', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS_2012\MSSQL\DATA\Service_Login.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Service_Login_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS_2012\MSSQL\DATA\Service_Login_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Service_Login].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Service_Login]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 6/2/2017 6:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[TenTaiKhoan] [varchar](100) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[CapPQ] [int] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[MaCN] [varchar](10) NOT NULL,
	[MaPQ] [varchar](10) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [TenTaiKhoan], [MatKhau], [CapPQ], [Email], [MaCN], [MaPQ]) VALUES (N'HCMNV00001', N'Test01', N'001@gmail.com', N'WVs&$^OEWTMO$IFR&$OIFO#$JFK4MRFI*$UT', 3, N'001@gmail.com', N'HCMCN001', N'PQ003')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [TenTaiKhoan], [MatKhau], [CapPQ], [Email], [MaCN], [MaPQ]) VALUES (N'HCMNV00002', N'Test02', N'002@gmail.com', N'WVs&$^OEWTMO$IFR&$OIFO#$JFK4MRFI*$UT', 2, N'002@gmail.com', N'HCMCN001', N'PQ002')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [TenTaiKhoan], [MatKhau], [CapPQ], [Email], [MaCN], [MaPQ]) VALUES (N'HCMNV00003', N'Test03', N'003@gmail.com', N'WVs&$^OEWTMO$IFR&$OIFO#$JFK4MRFI*$UT', 1, N'003@gmail.com', N'HCMCN001', N'PQ001')
SET ANSI_PADDING ON

GO
/****** Object:  Index [TenTaiKhoan_Unique]    Script Date: 6/2/2017 6:46:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [TenTaiKhoan_Unique] ON [dbo].[NhanVien]
(
	[TenTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
