USE [master]
GO
/****** Object:  Database [Service_AnimalCare]    Script Date: 5/9/2017 1:31:52 PM ******/
CREATE DATABASE [Service_AnimalCare]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Service_AnimalCare', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS_2012\MSSQL\DATA\Service_AnimalCare.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Service_AnimalCare_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS_2012\MSSQL\DATA\Service_AnimalCare_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Service_AnimalCare].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Service_AnimalCare]
GO
/****** Object:  Table [dbo].[ChamSoc]    Script Date: 5/9/2017 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChamSoc](
	[MaChamSoc] [varchar](10) NOT NULL,
	[NgayGhiNhan] [date] NULL,
	[TinhTrangCongViec] [nvarchar](50) NULL,
	[LuongSua] [real] NULL,
	[DaChoAn] [bit] NULL,
	[DaDonVeSinh] [bit] NULL,
	[DaVatSua] [bit] NULL,
	[MaPhanCong] [varchar](10) NOT NULL,
	[MaBo] [varchar](10) NOT NULL,
 CONSTRAINT [PK_ChamSoc] PRIMARY KEY CLUSTERED 
(
	[MaChamSoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhanCong]    Script Date: 5/9/2017 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhanCong](
	[MaPhanCong] [varchar](10) NOT NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[NgayTrongTuan] [nvarchar](50) NULL,
	[MaNV] [varchar](10) NOT NULL,
	[MaChuong] [varchar](10) NOT NULL,
 CONSTRAINT [PK_PhanCong] PRIMARY KEY CLUSTERED 
(
	[MaPhanCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TinhTrangBo]    Script Date: 5/9/2017 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TinhTrangBo](
	[MaChamSoc] [varchar](10) NOT NULL,
	[ThoiGianGhiNhan] [datetime] NOT NULL,
	[CanNang] [real] NULL,
	[ChieuCao] [real] NULL,
 CONSTRAINT [PK_TinhTrangBo] PRIMARY KEY CLUSTERED 
(
	[MaChamSoc] ASC,
	[ThoiGianGhiNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
